<div class="main-content-profile">
    <div class="entry-content">
        <video 
        *ngIf="agent!=null && agent!=undefined && agent.agentVideo==null" 
        width="100%" 
        class="video-block"  
        id="agent-video"
        poster="assets/images/video-poster.webp"
        (click)="triggerVideo()">
            <source  src="assets/videos/intro.mp4"  type="video/mp4"/>
        </video>
        <video 
        *ngIf="agent!=null && agent!=undefined && agent.agentVideo!=null && agent.agentVideo!=undefined" 
        width="100%" 
        class="video-block"
        poster="assets/images/video-poster.webp"
        id="agent-video" >
            <source  [src]="urlBack+agent.agentVideo.mediaUrl"  type="video/mp4"/>
        </video>
        <i *ngIf="playVideo" (click)="triggerVideo()" class="bi bi-play agent-video-play"></i>
    </div>
    <div class="inner-content"> 
        <div class="container">
            <div class="button-content">
                <button type="button" class="btn user-btn orange-gb  d-none d-lg-block d-md-block text-white user-x-small-text fw-medium" (click)="openModal()">
                    Videoanruf vereinbaren
                </button>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="info-profile">
                        <div *ngIf="agent!=null && agent!=undefined" class="agent-img-wrapper">
                            <img *ngIf="agent.agentPhoto!=null && agent.agentPhoto!=undefined" class="agent-avatar rounded-circle d-none d-lg-block d-md-block img-fluid img-profile" [src]="urlBack+agent.agentPhoto.mediaUrl">
                            <img *ngIf="agent.agentPhoto!=null && agent.agentPhoto!=undefined" class="agent-avatar rounded-circle d-sm-block d-md-none img-fluid img-profile-mobile" [src]="urlBack+agent.agentPhoto.mediaUrl">
                            <div *ngIf="agent.agentPhoto==null || agent.agentPhoto==undefined" class="agent-avatar rounded-circle d-none d-lg-block d-md-block img-fluid img-profile" id="profileImageEdit">{{abbriviation}}</div>
                            <div *ngIf="agent.agentPhoto==null || agent.agentPhoto==undefined" class="agent-avatar rounded-circle d-sm-block d-md-none img-fluid img-profile-mobile" id="profileImageEditMobile">{{abbriviation}}</div>
                        </div>
                        <div *ngIf="agent!=null && agent!=undefined" class="details-profile">
                            <h2 class="text-color  fw-medium mb-4 line-heigth-24">{{agent.agentFirstName}} {{agent.agentLastName}} <span class="user-status"></span></h2>
                        </div>
                        <div class="button-content">
                            <button type="button" class="btn user-btn orange-gb   d-sm-block d-md-none text-white user-x-small-text fw-medium">
                                Videoanruf vereinbaren
                            </button>
                        </div>
                        <p class="grey-color  mb-0 d-sm-block d-md-none">
                            I  believe great trip comes from focusing on the right questions, not the right answers.
                        </p>
                        <div *ngIf="listCountries!=null&&listCountries!=undefined&&listCountries.length > 0" class="destinations">
                            <h5 class="user-small-text fw-bold text-color">Reiseziele</h5>
                            <span *ngFor="let place of listCountries">{{place.specialityLabel}}</span>
                        </div>
                        <div *ngIf="listactivities!=null&&listactivities!=undefined&&listactivities.length > 0" class="activities">
                            <h5 class="user-small-text fw-bold text-color">Reisearten</h5>
                            <span  *ngFor="let act of listactivities">{{act.activityLabel}}</span>
                        </div>
                        <div *ngIf="agent!=null && agent!=undefined&&agent.agentConsultancyFee!=null && agent.agentConsultancyFee!=undefined" class="prices">
                            <h5 class="user-small-text fw-bold text-color">Beratungsgebühr</h5>
                            <span>{{agent.agentConsultancyFee}}€</span>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div *ngIf="agent!=null && agent!=undefined" class="about-profile">
                        <h3 class="fw-medium mb-4 line-heigth-24 ">Über {{agent.agentFirstName}}</h3>
                            <p class="grey-color  mb-0">
                                {{agent.agentDescription}}
                            </p>
                    </div>
                    <div *ngIf="listactivities!=null&&listactivities!=undefined&&listactivities.length > 0" class="galleries">
                        <h3 class="fw-medium mb-4 line-heigth-24 ">Reisearten</h3>
                        <div class="row" >
                            <div  *ngFor="let act of listactivities" class="col-6 col-md-3 col-sm-6 col-xs-6">
                                
                                <div *ngIf="act.activityPhoto" class="under-content img-fluid img-activity" [ngStyle]="{'background-image': 'url(' + urlBack + act.activityPhoto.mediaUrl + ')'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-appointement-modal #modal [modalConfig]="modalConfig">
    <!--  body of the modal  -->
</app-appointement-modal>