
.main-content-profile{
    .inner-content{
        padding-bottom: 8rem;
        padding-top: 2.5rem;
        position: relative;
        .button-content{
            text-align: right;
        }
        .info-profile{
            .agent-img-wrapper{
                position: absolute;
                top: -90px;
            }
        }
        > div{
            padding-top: 2rem;
        }
    }
}