
@import '../../../styles/variables';

.main-content-profile{
  .entry-content {
    position: relative;
    .video-block {
      height: 414px!important;
      min-height: 414px!important;
      max-height: 414px!important;
    }
    .agent-video-play {
      position: absolute;
      font-size: 10rem;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      width: 100%;
      height: 414px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #14141454;
    }
    .video-control {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      display: flex;
      align-items: center;
      .agent-video-sound {
        font-size: 1.7rem;
        margin-right: 10px;
        text-shadow: 0px 0px 10px black;
        cursor: pointer;
      }
      .agent-video-replay {
        font-size: 1.3rem;
        text-shadow: 0px 0px 8px black;
        cursor: pointer;
      }
   }
  }
    .inner-content{
        padding-bottom: 8rem;
        padding-top: 2.5rem;
        position: relative;
        .button-content{
            margin-bottom: 1.325rem;
        }
        .info-profile{
            .agent-img-wrapper{
                position: absolute;
            }
            .text-resume{
               font-size: 14px;
            }
            > div{
                h3{
                    font-size: 1.5rem;
                }
                h5{
                    padding-top: 2rem;
                    margin-bottom: 8px;
                }
                > span{
                    color: $primaryColor;
                    font-size: 14px;
                    display: inline-block;
                    padding-right: 8px;
                }
            }
        }
        > div{
            padding-top: 2rem;
            h3{
                font-size: 24px;
                color: $blackColor;
            }
            .galleries{
                padding-top: 3.5rem;
                h3{
                    margin-bottom: 1.5rem;
                }
                .under-content{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-top: 0;
                    margin-bottom: .875rem;
                    height: 11.25rem!important;
                }
            }
        }
    }
    .about-profile p{
        word-wrap: break-word;
    }

    #profileImageEdit {
        background: $stars-grey-color;
        font-size: 5rem;
        color: white;
        text-align: center;
      }
      #profileImageEditMobile {
        background: $stars-grey-color;
        font-size: 3rem;
        color: white;
        text-align: center;
      }  
      .img-activity{
         padding-top: 20px;
      }  
      .video-block{
        object-fit: fill;
      }

      .img-profile{
        width: 180px;
        height: 180px;
        line-height: 180px;
      }
      .img-profile-mobile{
        width: 106px;
        height: 106px;
        line-height: 106px;
    }
}

@media screen and (min-width: 768px) {
    .main-content-profile{
        .inner-content{
            .button-content{
                text-align: right;
                margin-bottom: 1.325rem;
                float: right;
                position: relative;
            }
            > div{
                >div{
                    clear: both;
                    .info-profile{
                        .agent-img-wrapper{
                          top: -90px;
                        }
                    }
                }
            }
            .under-content{
                height: 155px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main-content-profile{
      .entry-content {
        .video-block {
          height: 169px!important;
          min-height: 169px!important;
          max-height: 169px!important;
        }
        .agent-video-play {
          font-size: 5rem;
          top: 0;
          height: 169px;
      }
      }
      .inner-content{
        .button-content{
           width: 100%;
           margin-bottom: 32px;
           button{
             width: 100%!important;
            }
          }
          .info-profile{
            .agent-img-wrapper{
              top: -53px;
            }
            >div{
              h5{
                font-size: 14px!important;
              }
            }
          }
          .about-profile{
            padding-top: 57px;
          }
          .galleries{
            >div{
              >div{
                margin-bottom: 1.5rem;
                .under-content{
                  height: 140px;
                }
              }
            }
          }
        }
    }
    
}