<div class="travel-type-filter-wrapper">
  <div class="destination-filter-title d-flex align-items-center justify-content-between pb-3">
    <span class="title-lebel fw-medium user-x-small-text text-color line-heigth-24">Reisearten</span>
    <i class="bi bi-chevron-up"></i>
  </div>
  <div class="form-group">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control search-travel-type" placeholder="Search" >
  </div>
  <div class="travel-options">
    <div class="form-group">
      <input type="checkbox" id="sport">
      <label class="user-x-small-text text-black  line-heigth-24" for="sport">Sport</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="golf">
      <label class="user-x-small-text text-black  line-heigth-24" for="golf">Golf</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="packing">
      <label class="user-x-small-text text-black  line-heigth-24" for="packing">Packing travel</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="cruise">
      <label class="user-x-small-text text-black  line-heigth-24" for="cruise">Cruise</label>
    </div>
    <div class="form-group mb-0">
      <input type="checkbox" id="health">
      <label class="user-x-small-text text-black  line-heigth-24" for="health">Health</label>
    </div>
  </div>
</div>
