@import '../../../../../styles/variables';
.travel-type-filter-wrapper {
  
  .form-group {
    position: relative;
    .search-travel-type {
      padding-left: 2.3rem;
      background: transparent;
      margin-bottom: 1.125rem;
      border-color: $stars-grey-color!important;
      &::placeholder {
        color: $greyMediumColor!important;
      }
      &:focus {
        outline: none!important;
        box-shadow: none!important;
        border-color: $stars-grey-color!important;
      }
    }
    .bi-search {
      position: absolute;
      top: 7px;
      left: 10px;
      color: $secondaryColor!important;
    }
  }
  .travel-options {
    .form-group {
      display: block;
      margin-bottom: 10px;
    }
    .form-group input {
      padding: 0;
      margin-bottom: 0;
      cursor: pointer;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      height: 20px;
      width: 20px;
      background: #fff;
      border: 2px solid #d9dde0;
      border-radius: 4px;
      &:checked {
        background: $orangeColor!important;
        margin: 0px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 1px;
          left: 6px;
          width: 5px;
          height: 11px;
          border: solid #d9dde0;
          border-width: 0 2px 2px 0;
          transform: rotate( 45deg);
        }
       }
      }
    
    .form-group label {
      position: relative;
      cursor: pointer;
      margin-left: 8px;
      top: -4px;
    }
  }
  a{
    color: $orangeColor!important;
  }
  
}
