<section id="warum-tripedeo" class="why-use-container section-bp">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-md-6 content-wrapper d-flex align-items-center">
        <div class="why-use-text">
          <h3 class="text-color light-heigth-xbig user-big-text fw-bold user-big-text-mobile">Wie funktioniert</h3>
          <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile">Tripedeo?</h3>
          <p class="paragraphe-fs small-title-size line-heigth-40 mb-0 mb-md-3 text-color">Sie sind auf der Suche nach einem Experten, der sich genau mit der Reise auskennt, die Sie sich erträumen?</p>
          <p class="paragraphe-fs small-title-size line-heigth-40 text-color">Wir zeigen Ihnen entsprechend Ihrer Reisewünsche die besten deutschsprachigen Experten und Sie wählen daraus den Besten aus. Mit nur wenigen Klicks können Sie sich bequem von zu Hause aus von Ihrem beraten und sich Ihre Traumreise Reiseexperten per Videotelefonat zusammenstellen lassen.</p>
            <p class="paragraphe-fs grey-dark"><strong>Natürlich kostenfrei und unverbindlich</strong></p>
        </div>
      </div>
      <div class="col-md-6 why-use-img-wrapper">
        <img class="img-fluid" src="assets/images/location.webp" loading="lazy">
      </div>
    </div>
  </div>
</section>
