<section *ngIf="data" class="article-section article-section-three section-pt-medium">

    <div class="container-xl section-wrapper">
        <div class="section-first-row paragraph-pb">
            <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">Südafrika erleben</h3>
            <h6 class="sub-title user-meduim-text -1 mb-0 text-black"> Highlights entlang Ihrer Reise </h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color">
                Das Land am Gap der Guten Hoffnung ist etwas ganz Besonderes: In den unzähligen Nationalparks lernen Sie beeindruckende Tiere kennen. In Kapstadt fahren Sie mit einer Seilbahn den Tafelberg hinauf und genießen das einmalige Panorama. Mit Johannesburg besuchen Sie die größte Stadt Südafrikas und entdecken dort wunderschöne Sehenswürdigkeiten. Freuen Sie sich also auf ein vielfältiges Südafrika und eine unvergessliche Reise!
            </p>
        </div>
        <div class="section-seconde-row article-mobile-dsiplay d-flex">
            <div class="col-lg">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">Kapstadt</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">In Kapstadt erwartet Sie der Tafelberg, der als Wahrzeichen der Stadt gilt. Der 1.086 Meter hohe Berg ist eine beliebte touristische Attraktion. Die Fahrt hinauf mit der Seilbahn dauert etwa 7 Minuten. Währenddessen haben Sie schon einen einmaligen Blick auf die Stadt, die unter Ihnen liegt. Oben angekommen blicken Sie auf die Weiten des Atlantischen Ozeans und genießen ein einmaliges Panorama auf die Hauptstadt.</p>
                </div>
            </div>
            <div class="col-lg">
                <div class="item-container section-padding bg-light-grey br-8 mx-3 mb-2">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24">Garden Route </h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Auf Ihrer Rundreise durch Südafrika ist die Tierwelt mit den berühmten „Big Five“ ein absolutes Highlight. Mit den „Big Five“ sind die Tiere Elefant, Nashorn, Löwe, Leopard und Büffel gemeint. Wer alle diese Tiere bei seiner Reise zu Gesicht bekommt, kann sich sehr glücklich schätzen.</p>
                </div>
            </div>
            <div class="col-lg">
                <div class="item-container section-padding bg-light-grey br-8 ms-3 mb-2">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24">Big Five</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Auf Ihrer Rundreise durch Südafrika ist die Tierwelt mit den berühmten „Big Five“ ein absolutes Highlight. Mit den „Big Five“ sind die Tiere Elefant, Nashorn, Löwe, Leopard und Büffel gemeint. Wer alle diese Tiere bei seiner Reise zu Gesicht bekommt, kann sich sehr glücklich schätzen.</p>
                </div>
            </div>
        </div>
    </div>
</section>
