<section *ngIf="data" class="article-section article-section-three section-pt-medium">

    <div class="container-xl section-wrapper">
        <div class="section-first-row paragraph-pb">
            <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">{{data.title}}</h3>
            <h6 class="sub-title user-meduim-text -1 mb-4 text-black"> {{data.subtitle}}</h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color">
          {{data.intro}}
            </p>
        </div>
        <div class="section-seconde-row article-mobile-dsiplay d-flex">
            <div class="col-lg" *ngFor="let item of data.body">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">{{item.title}}</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">{{item.content}}</p>
                </div>
            </div>
           
           
        </div>
    </div>
</section>
