
.combination-list-wrapper {
    background: linear-gradient(#FFFFFFF0, #FFFFFFF0), url('../../../../assets/images/bottom-section-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}