<section class="article-section article-travel-combination section-pt-medium title-pb-2">
    <div class="container-lg section-wrapper">
        <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">
            Unterschiedlich Kombination aus Reiseart und Reiseziel
        </h3>
        <div class="section-first-row combination-list-wrapper py-5 shadow-sm px-4">
            <ul class="combination-list">
                <li class="combination-list-item paragraphe-fs primary-color fw-medium-1 mb-3">Familienurlaub Insel</li>
                <li class="combination-list-item paragraphe-fs primary-color fw-medium-1 mb-3">Golf südafrika</li>
                <li class="combination-list-item paragraphe-fs primary-color fw-medium-1 mb-3">Lorem ipsum dolor </li>
                <li class="combination-list-item paragraphe-fs primary-color fw-medium-1 mb-3">Lorem ipsum dolor </li>
              </ul>
        </div>
       
    </div>
</section>

