@import '../../../../../styles/variables';
.destination-filter-wrapper {
  
  .destination-input-group {
    margin-bottom: 202px;
    position: relative;
   
    .destination-data-input {
      :hover{
        background-color: $bgLightGrey;
        font-weight: bold;
      }
      padding-left: 2.3rem;
      background: transparent;
      margin-bottom: 1.125rem;
      border-color: $stars-grey-color!important;
      
      &::placeholder {
        color: $greyMediumColor!important;
      }
      &:focus {
        outline: none!important;
        box-shadow: none!important;
        border-color: $stars-grey-color!important;
      }
      .destination-data-input::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
    .bi-search {
      position: absolute;
      top: 7px;
      left: 10px;
      color: $secondaryColor!important;
      z-index: 9999;
      
    }
  }

  .destination-chip {
    display: flex;
    flex-wrap: wrap;
    .destination-alert {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 2rem;
      display: inline;
      background-color: $orangeColor!important;
      color: white!important;
      border-radius: 15px;
      border: none;
      .btn-close {
        padding: 0.625rem!important;
        font-size: 0.5rem!important;
        color: white!important;
        opacity: 1;
        filter: brightness(0) invert(1);
      }
    }
  }
}



:host ::ng-deep ng-select .ng-select-container > .ng-value-container {
  padding: .375rem 2.25rem !important;

}

:host ::ng-deep ng-select .ng-dropdown-panel .scroll-host  {
 
  max-height: 186px;

}
:host ::ng-deep ng-select .ng-dropdown-panel  {
 
  height: 190px;
}
:host ::ng-deep ng-select .ng-select-container > .ng-value-container > div[role="combobox"] {
  padding: 0 !important;
  
}

:host ::ng-deep ng-select .ng-select-container > .ng-value-container > .ng-value {
  margin-bottom: 0 !important;
  
}
:host ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
  padding-left: 35px!important;

}
:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar {
  width: 3.99px;
}
:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-track {
  background: #f1f1f1;
}
:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items .ng-option {
  padding: 0 0 !important;
  background-color: #ffffff !important;
  
  
}
:host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-footer {
  border-top: none !important;
}

:host ::ng-deep ng-select div.ng-select-container > span.ng-clear-wrapper .ng-clear,
:host ::ng-deep ng-select div.ng-select-container > span.ng-arrow-wrapper .ng-arrow {
  display: none !important;
}

.user-btn {
  width: 100% !important;
}

.destination-option {
  display: flex; 
  padding: 3px; 
  justify-content: space-between;
  .destination-option-label {
    color: #000000;
    font-family:Inter; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 24px;
    margin-left: 4%;
  }
 
}

.selected-item {
  color: #5AE1C1; 
  cursor: pointer;
}

.unselected-item {
  color: #797979; 
  cursor: pointer;
}