<header class="header-container">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col content-wrapper d-flex align-items-center">
        <div class="header-content">
          <div class="header-text">
            <span class="user-meduim-text dark-grey-color">Finden Sie den besten Experten für Ihre Reise</span>
            <h1 class="user-xbig-text fw-bold text-color spacing-1">Die Buchungsrevolution im Reisebereich</h1>
          </div>
          <div class="header-fixed shadow pa-3">
            <p class="mb-0">
              Lassen Sie sich bequem von zu Hause aus von einem Reiseexperten 
              <span>online beraten & buchen Sie den Urlaub Ihrer Träume.</span>
            </p>
          </div>
          <div class="header-tabs">
            <app-header-tabs></app-header-tabs>
          </div>
        </div>
      </div>
      <div class="col img-wrapper">
      </div>
    </div>
  </div>
</header>