<ul class="nav nav-tabs mt-5 header-tab-container" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link ms-0 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Reiseziele</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reisearten</button>
  </li>
</ul>
<div class="tab-content" id="tab-content-wrapper">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="tab-pane-wrapper">
      <i class="bi bi-search search-city grey-color"></i>
      <input class="form-control ps-5 input-address" id="header-search" type="text" placeholder="z.b: Spanien, Süd Afrika">
      <button type="button" routerLink="/agents" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mt-3">Reiseexperten jetzt finden</button>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="tab-pane-wrapper">
      <i class="bi bi-search search-city grey-color"></i>
      <input class="form-control ps-5 input-address" id="header-search" type="text" placeholder="z.b: Kreuzfahrt, Pauschalreise">
      <button type="button" (click)="goToAgentsList()" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mt-3">Reiseexperten jetzt finden</button>
    </div>
  </div>
</div>
