<ul class="nav nav-tabs mt-5 header-tab-container" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link ms-0 active" id="tab-one" data-bs-toggle="tab" data-bs-target="#filterOne" type="button" role="tab" aria-controls="home" aria-selected="true">Reiseziele</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-two" data-bs-toggle="tab" data-bs-target="#filterTwo" type="button" role="tab" aria-controls="filterTwo" aria-selected="false">Reisearten</button>
  </li>
</ul>
<div class="tab-content" id="tab-content-wrapper">
  <div class="tab-pane fade show active" id="filterOne" role="tabpanel" aria-labelledby="tab-one">
    <div class="tab-pane-wrapper">
      <i class="bi bi-search search-city grey-color"></i>
      <ng-select #placesSelect (close)="placesSelect.blur()" class="form-control city-search" style="padding: 0; border: none;" [items]="places" [multiple]="true"
          [maxSelectedItems]="3" bindLabel="superPlaceLabel" [ngModelOptions]="{standalone: true}" dropdownPosition="top"
          notFoundText="Keine Elemente gefunden" [closeOnSelect]="true" [clearSearchOnAdd]="true" [loading]="placesLoading"
          placeholder="z.b: Spanien, Süd Afrika" [(ngModel)]="selectedPlacesItems" [selectOnTab]="true"
          [virtualScroll]="true" (search)="getFiltredPlaces($event)" (scroll)="onScrollPlaces(placesSelect.searchTerm, $event)" 
          (scrollToEnd)="fetchMorePlaces(placesSelect.searchTerm)" (open)="onOpenPlaces()">
        </ng-select>
      <button type="button" (click)="goToAgentsList()" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mt-3">Reiseexperten jetzt finden</button>
    </div>
  </div>
  <div class="tab-pane fade" id="filterTwo" role="tabpanel" aria-labelledby="tab-two">
    <div class="tab-pane-wrapper">
      <i class="bi bi-search search-city grey-color"></i>
      <ng-select #select (close)="select.blur()" class="form-control city-search" style="padding: 0; border: none;" [items]="activities" [multiple]="true"
          [maxSelectedItems]="3" bindLabel="activityTypeLabel" [ngModelOptions]="{standalone: true}"
          notFoundText="Keine Elemente gefunden" [closeOnSelect]="true" [clearSearchOnAdd]="true" [loading]="activitiesLoading"
          placeholder="z.b: Kreuzfahrt, Pauschalreise" [(ngModel)]="selectedActivityItems" dropdownPosition="top"
          [virtualScroll]="true" (search)="getFiltredActivities($event)" (scroll)="onScrollActivities(select.searchTerm, $event)" 
          (scrollToEnd)="fetchMoreActivities(select.searchTerm)" (open)="onOpenActivities()">
        </ng-select>
      <button type="button" (click)="goToAgentsList()" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mt-3">Reiseexperten jetzt finden</button>
    </div>
  </div>
</div>
