@import '../../../styles/variables';

.agents-title-container {
  background: linear-gradient(#F6F6F6F0, #F6F6F6F0), url('../../../assets/images/bottom-section-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    line-height: 32px;
  }
  .bi-sliders {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: $bgGreyColor;
    border-radius: 4px;
    color: $secondaryColor;
  }
}
.agents-body-container {
  margin-bottom: 7.5rem;
}
.agents-filter-mobile {
  position: fixed;
  background: white;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .agents-body-mobile {
    width: 100%!important;
  }
}

.empty-container {
  text-align: center;
  margin-top: 7rem;
}

.empty-container > h3 {
  font-family: $font-family-Inter;
  font-style: normal;
  line-height: 32px;
  color: #000000;
}

.empty-container > p {
  font-family: $font-family-Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

.d-md-block{
  overflow-y: scroll!important;
  scrollbar-color: #55555550 transparent;
  scrollbar-width: thin !important;
  max-height: 950px!important;
}
.d-md-block::-webkit-scrollbar {
  width: 8px!important;
  }
  .d-md-block::-webkit-scrollbar-track {
  background: transparent;
  }
  .d-md-block::-webkit-scrollbar-thumb {
  background: #55555550;
  border-radius: 4px;
  }
  .d-md-block::-webkit-scrollbar-thumb:hover {
  background: rgba(73, 70, 70, 0.527);
  }