<section class="agents-title-container mb-5">
  <div class="container-lg">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-md-start justify-content-between">
        <img class="d-none d-md-flex me-4" src="assets/images/agents-searsh-title-icons.svg" loading="lazy" />
        <h1 class="fw-normal primary-color user-meduim-text user-meduim-text-mobile title-padding title-padding-mobile mb-0">{{ filtredAgentsCount }} Reiseexperten gefunden, die Ihren Kriterien entsprechen</h1>
        <div class="filter-icon-container">
          <i class="bi bi-sliders d-flex d-md-none" (click)="displaySidebarMobile()"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="agents-body-container">
  <div class="container-lg">
    <div class="row">
      <div class="col-3 d-none d-md-block">
        <app-agents-body-sidebar [mediaDivision]="'desktop'" (consultancyEvent)="consultancyFeeChange($event)"></app-agents-body-sidebar>
      </div>
      <div *ngIf="displaySidebar" class="agents-filter-mobile px-4 py-3">
        <div class="d-flex align-items-center justify-content-between filter-header">
          <h4 class="user-small-text fw-medium text-black line-heigth-24">Filter</h4>
          <a type="button" class="text-decoration-none blue-color user-small-text line-heigth-24" (click)="displaySidebarMobile()">Cancel</a>
        </div>
        <app-agents-body-sidebar [mediaDivision]="'mobile'" (consultancyEvent)="consultancyFeeChange($event)"></app-agents-body-sidebar>
      </div>
      <div infinite-scroll (scrolled)="onScrollDown()" class="col-9 agents-body-mobile">
        <app-agents-body-content *ngIf="filtredAgentsCount > 0" [agentItems]="filtredAgents"></app-agents-body-content>
        <div *ngIf="filtredAgentsCount == 0" class="empty-container">
          <h3 class="user-meduim-text fw-medium">Keine Ergebnisse gefunden!</h3>
          <p class="paragraphe-fs">Versuchen Sie, mindestens ein Ziel oder eine Reiseart auszuwählen</p>
        </div>
      </div>
    </div>
  </div>
</section>
