<ng-template #modal>

    <div class="d-flex justify-content-between align-items-center header">
        <div class="title-container justify-content-between align-items-center">
          <h4 class="modal-title" >{{ modalConfig.modalTitle }}</h4>
        </div>
        <div class="icon-container">
          <i class="bi bi-x" (click)="close()"></i>
    </div>
        
        
      </div>
    <div class="modal-body body-model">
        <form id="form"  (ngSubmit)="dismiss()" role="form" #testForm="ngForm" ngNativeValidate>
            <div class="row input-actions">
                <app-alert-error *ngIf="showAlertError" [message]="message"></app-alert-error>
                <div class="col-lg-6 col-sm-12 col-actions first-col">
                <label class="label-actions">Vorname</label>
                <input [(ngModel)]="appointement.userFirstName" [ngModelOptions]="{standalone: true}" required type="text" class="form-control search-travel-type" placeholder="Ihr Vorname">          
                </div>
                <div class="col-lg-6 col-sm-12 col-actions">
                    <label class="label-actions">Nachname</label>
                    <input [(ngModel)]="appointement.userLastName"  [ngModelOptions]="{standalone: true}" required type="text" class="form-control search-travel-type" placeholder="Ihr Nachname">    
                </div>
            </div>

            <div class="row input-actions">
                <label class="label-actions">E-Mail Adresse</label>
                <input [(ngModel)]="appointement.userEmail" [ngModelOptions]="{standalone: true}" required type="email" class="form-control search-travel-type" placeholder="Ihre E-Mail-Adresse">
            </div>

            <div class="row input-actions">
                <label class="label-actions">Telefonnummer</label>
                <input [(ngModel)]="appointement.userPhone" [ngModelOptions]="{standalone: true}" required type="text" class="form-control search-travel-type" placeholder="+4900000000000" pattern="([+]?)[0-9]+">
            </div>

            <div class="row select-actions">
                <label for="placesSelect" class="label-actions">Reiseziel</label>
                <ng-select required #placesSelect (close)="placesSelect.blur()" class="form-control custom-ng-select" 
                    style="padding: 0; border: none;" [items]="places" [multiple]="true"
                    [maxSelectedItems]="10" bindLabel="superPlaceLabel" [ngModelOptions]="{standalone: true}"
                    notFoundText="Keine Elemente gefunden" [closeOnSelect]="true" [clearSearchOnAdd]="true"
                    placeholder="Reiseziel suchen" [(ngModel)]="selectedPlacesItems"
                    (search)="getFiltredPlaces($event)" (open)="onOpen(placesSelect)">
                  </ng-select>
            </div>

            <div class="row select-actions">
                <label class="label-actions">Teilnehmer Typ</label>
                <ng-select [(ngModel)]="appointement.appointementParticipantType" [ngModelOptions]="{standalone: true}" class="form-control" style="padding: 0; border: none;" placeholder="Teilnehmer Typ" [multiple]="false" [searchable]="false" required>
                    <ng-option value="SINGLE" selected>Single</ng-option>
                    <ng-option value="COUPLE" >Zu zweit</ng-option>
                    <ng-option value="FAMILY" >Familie</ng-option>
                    <ng-option value="GROUP" >Gruppe</ng-option>
                 </ng-select>
            </div>

            <div class="row select-actions">
                <label for="select2" class="label-actions">Reiseart</label>
                <ng-select required #activityselect (close)="activityselect.blur()" class="form-control custom-ng-select" style="padding: 0; border: none;" 
                [items]="activities" [multiple]="true"
                [maxSelectedItems]="10" bindLabel="activityTypeLabel" [ngModelOptions]="{standalone: true}"
                notFoundText="Keine Elemente gefunden" [closeOnSelect]="true" [clearSearchOnAdd]="true"
                placeholder="Reisearten suchen" [(ngModel)]="selectedActivityItems"
                (search)="getFiltredActivities($event)">
        </ng-select>
            </div>
            

            <p class="parag-actions">Wählen Sie einen Termin für Ihre Beratung aus:</p>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <label class="label-actions">Datum</label>
                    <div class="row search-travel-type">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="" onfocus="this.blur()" readonly="readonly"
                        [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" (dateInput)="onSelect($event.value)" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker  [dateClass]="dateClass"></mat-datepicker>
                    </mat-form-field>
                </div>
                    <!--<div class="Mycalendar">
                        <mat-calendar 
                        [selected]="selectedDate" 
                        [startAt]="startAt"
                        (selectedChange)="onSelect($event)">
                        </mat-calendar>
                    </div>-->
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label class="label-actions">Uhrzeit</label>
                    <div class="row">
                        <div class="col-lg-1 col-sm-1">
                            <label class="label-time">Von</label> 
                        </div>
                        <div class="col-lg-5 col-sm-5">
                            <ng-select  class="form-control" style="padding: 0; border: none;" placeholder="" 
                            [multiple]="false" [searchable]="false" required
                            [(ngModel)]="selected" [ngModelOptions]="{standalone: true}"
                            (change)="changeEndDate($event)">
                                <ng-option *ngFor="let time of availibilities" [value]="time.startDate">{{time.startDate}}</ng-option>
                             </ng-select>
                        </div>
                        <div class="col-lg-1 col-sm-1">
                            <label class="label-time">bis</label> </div>
                        <div class="col-lg-5 col-sm-5">
                            <ng-select  class="form-control" style="padding: 0; border: none;" placeholder="" [multiple]="false"
                             [searchable]="false" required
                             [(ngModel)]="selectedEnd" [ngModelOptions]="{standalone: true}">
                                <ng-option *ngFor="let timeend of endDates" value="timeend">{{timeend}}</ng-option>
                             </ng-select>
                        </div>
                        
                    </div>

            <!--<div class="radio-toolbar">
                <div  class="row radio-actions">
                    <div *ngFor="let time of availibilities" class="col-4 availibilities">
                        <input type="radio" [id]="time.startDate" [name]="time.startDate" [value]="time.startDate" [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                        <label [for]="time.startDate">{{time.startDate}}-{{time.endDate}}</label>
                    </div>             
               </div>
            </div>-->

                </div>
            </div>

            <div class="row action-buttons">
                <div class="col-lg-3 col-sm-6"></div>
                <div class="col-lg-3 col-sm-6"></div>
                <div class="col-lg-3 col-sm-6">
                    <button class="btn grey-cancel user-x-small-text fw-medium mb-2" (click)="close()" 
                *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
                [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">{{ modalConfig.closeButtonLabel }}</button>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <button class="btn user-btn orange-gb text-white user-x-small-text fw-medium mb-2" type="submit"
                *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
                [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()"> {{ modalConfig.dismissButtonLabel }}</button>
                </div>
              </div>
        </form>
    </div>
  </ng-template>
