@import '../../../styles/variables';
.header{
    padding: 24px 32px;
}
.modal-title{
    font-weight: 600!important;
    color: #000000!important;
    font-size: 16px!important;

}
.body-model{
    padding: 0 2rem 0 2rem!important;
}
.modal-appointement-body {
  .user-btn {
    width: 100%!important;
  }
}
  .grey-cancel {
    width: 100%!important;
  }
  .action-buttons{
      padding-bottom: 20px;
      padding-top: 20px;
  }

.icon-container {
    i {
      font-size: 27px!important;
    }
  }

  .select-actions{
    padding: 0 15px 35px 15px;
    position: relative;
  }

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #9BA1A1!important;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}
  
  .ng-select-container > .ng-value-container > div[role="combobox"] {
    padding: 0 !important;
  }
  
  .ng-select-container > .ng-value-container > .ng-value {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
  
  .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar {
    width: 8px;
  }
  .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::ng-deep ng-select div.ng-select-container > span.ng-clear-wrapper .ng-clear{
    display: none !important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-select-container span.ng-arrow-wrapper span.ng-arrow {
    display: none !important;
  }

  ::ng-deep .ng-select .ng-select-container {
    min-height: 32px!important;
    border-color: $stars-grey-color!important;
    line-height:normal!important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-select-container {
    min-height: 32px!important;
  }
  
  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 32px!important;
  }

  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #FFFFFF;
      color: #2C67FF;
      padding: 10px 20px;
      font-size: 12px;
      font-family: Inter;
      border: 1px solid #2C67FF;
      border-radius: 4px;
      text-align: center;
  }
  
  .radio-toolbar label:hover {
    background-color: #ECF5FF;
    color:#2C67FF;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #2C67FF;
      border-color: #2C67FF;
      color:white;
  }

  .radio-actions{
     padding-bottom: 5px;
  }

  .input-actions{
    padding: 0 15px 15px 15px;
  }

  .Mycalendar{
    padding-bottom: 20px;
    width: 100%;
  }

  .label-actions{
    padding-bottom: 15px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #565656;
    
  }

  .label-time{
    padding-left: 0!important;
    padding-right: 0!important;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #565656;
    
  }

  .search-travel-type {
    background: transparent;
    margin-bottom: 1.125rem;
    font-size: 14px;
    line-height: 24px;
    height: 32px;
    color: #2D2D2D;
    border-color: $stars-grey-color!important;
    &::placeholder {
      color: #9BA1A1!important;
    }
  }

  .col-actions{
    padding: 0!important;
    margin:0!important;
  }
  @media screen and (min-width: 767px) {
  .first-col{
    padding-right: 15px!important;
  }
}

  .parag-actions{
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px!important;
  }
  ::ng-deep .mat-calendar-body-selected{
    background-color: #ECF5FF;
    color: #205BD8!important;
    font-weight: 600;
    border:none;
  }
  
  ::ng-deep .mat-calendar-body-cell-content, .mat-date-range-input-separator{
    color: #A5B2BC;
    font-size: 14px;
  }

  .availibilities{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-flex {
    background: transparent;
    height: 32px;
    border-color: $stars-grey-color!important;
    border: 1px solid;
    border-radius: 4px;
    align-items: center!important;
}

::ng-deep input.mat-input-element {
  margin-top: -0.0625em;
  padding: 0 0 10px 10px;
}


  