@import '../../../../styles/variables';

.newsletter-section-wrapper {
  .newletter-email {
    .btn {
      height: 52px !important;
      box-shadow: none!important;
    }
    .email-address {
      width: 70%;
      height: 52px;
      border: none;
      border-radius: 5px;
      padding: 12px;
      padding-left: 3rem;
      &::placeholder {
          color: $greyMediumColor;
      }
    }
  }
  .newsletter-wrapper-global {
    width: 100%;
    text-align: right;
    position: relative;
    .bi.bi-envelope {
        position: absolute;
        top: 10px;
        font-size: 22px;
        color: $greyMediumColor;
        padding-left: 1rem;
    }
 }
}

/*------------------------Responsive Design ------------------*/

@media screen and (max-width: 767px) {
  .article-newsletter-section {
    .newsletter-section-wrapper {
      padding-top: 1.5rem!important;
      padding-bottom: 1.5rem!important;
      border-radius: 0!important;
      .newsletter-wrapper-global {
        text-align: center!important;
        width: 85%;
        margin: auto;
        #news-email {
          display: block;
          width: 100%;
          margin-bottom: 0.875rem !important;
        }
        .news-btn {
          display: block!important;
          width: 100%!important;
        }
        .bi.bi-envelope {
          left: 0!important;
        }
      }
      .newsletter-row {
        .text-container {
          .newletter-title {
            font-size: 0.875rem!important;
          }
          .newletter-description {
            font-size: 0.875rem!important;
          }
        }
      }
      .newsletter-tex-wrapper.mt-3 span {
        font-size: 0.75rem !important;
    }
    }
  }
}