<section class="article-section article-newsletter-section section-pt-medium">
  <div
    class="
      container-lg
      section-wrapper
      newsletter-section-wrapper
      grey-gb
      d-flex
      align-items-center
      title-pb
      section-pt-medium
      px-5
      br-8
    "
  >
    <div class="newsletter-row d-md-flex">
      <div class="col-md-5">
        <div class="text-container me-4 mb-5 mb-md-0">
          <h4
            class="
              newletter-title
              sub-title-size
              text-black
              fw-bold
              light-heigth-big
              mb-2 mb-md-3
            "
          >
            Exklusive Angebote,inspirierende Geschichten und aktuelle Infos zu
            Reisebestimmungen.
          </h4>
          <p class="newletter-description sub-title-size text-black mb-0">
            Is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the
          </p>
        </div>
      </div>
      <div class="col-7">
        <form
          class="newletter-email d-flex justify-content-end"
          [formGroup]="newsLetterForm"
          (ngSubmit)="submit()"
        >
          <div class="newsletter-wrapper-global">
            <div class="email-form">
              <i class="bi bi-envelope"></i>
              <input
                type="text"
                id="news-email"
                placeholder="Ihre Email"
                formControlName="email"
                class="email-address me-3"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                [readonly]="loading"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div class="text-left" *ngIf="f.email.errors.required">
                  E-Mail ist erforderlich
                </div>
                <div class="text-left" *ngIf="f.email.errors.email">
                  E-Mail muss eine gültige E-Mail-Adresse sein
                </div>
                <div class="text-left" *ngIf="getError('email')">
                  {{ getError("message") }}
                </div>
              </div>
            </div>
            <button
              type="button"
              type="submit"
              [disabled]="loading"
              class="
                btn
                primary-bg
                text-white
                news-btn
                paragraphe-fs
                text-color
                fw-medium
                py-2
                px-4
              "
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              >
              </span>
              Anmelden
            </button>
          </div>
        </form>
        <div class="newsletter-tex-wrapper mt-3">
          <span class="text-black user-x-small-text"
            >Is simply dummy text of the printing anda industry. Lorem Ipsum has
            been the . Lorem Ipsum has been. Is simply dummy text of the
            printing anda industry.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
