$primaryColor: #2B616D;
$secondaryColor: #797979;
$textColor: #2D2D2D;
$orangeColor: #FA8D62;
$titleColor: #3D626F;
$darkGreyColor: #454545;
$bgGreyColor: #F1F1F1;
$bgLightGrey: #F6F6F6;
$greyMediumColor: #9BA1A1;
$greyBg: #E4E4E4;

$font-family-Inter: 'Inter' !default;
