$primaryColor: #2B616D;
$secondaryColor: #797979;
$textColor: #2D2D2D;
$orangeColor: #FA8D62;
$orangeHoverColor:#F46A34;
$greyHoverColor: #C7C7C7;
$orangeFocusColor: #FFA987;
$titleColor: #3D626F;
$darkGreyColor: #454545;
$darkGreyColor2: #5E5E5E;
$bgGreyColor: #F1F1F1;
$greyDarkColor:#2F2F2F;
$bgLightGrey: #F6F6F6;
$greyMediumColor: #9BA1A1;
$greyBg: #E4E4E4;
$stars-grey-color: #D9DDE0;
$primaryChip: #2C67FF;

$userOnline: #26D82D;
$userAway: #FFC700;


$font-family-Inter: 'Inter' !default;
