<section class="article-section article-section-one section-pt-medium">
    <div class="container-lg section-wrapper">
        <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">Infos zur Südafrika Rundreise</h3>
        <h6 class="sub-title user-meduim-text fw-medium mb-0 text-black">
            Flugzeit – Wie lange fliegt man nach Südafrika?
        </h6>
        <p class="paragraphe-fs small-title-size line-heigth-40 text-color mb-0 py-4">
            Das Land am Gap der Guten Hoffnung ist etwas ganz Besonderes: In den unzähligen Nationalparks lernen Sie beeindruckende Tiere kennen. In Kapstadt fahren Sie mit einer Seilbahn den Tafelberg hinauf und genießen das einmalige Panorama. Mit Johannesburg besuchen Sie die größte Stadt Südafrikas und entdecken dort wunderschöne Sehenswürdigkeiten. Freuen Sie sich also auf ein vielfältiges Südafrika und eine unvergessliche Reise!
        </p>

        <h6 class="sub-title fw-medium user-meduim-text mb-0 py-4 text-black">
            Flugzeit – Wie lange fliegt man nach Südafrika?
        </h6>
        <p class="paragraphe-fs small-title-size line-heigth-40 text-color">
            Das Land am Gap der Guten Hoffnung ist etwas ganz Besonderes: In den unzähligen Nationalparks lernen Sie beeindruckende Tiere kennen. In Kapstadt fahren Sie mit einer Seilbahn den Tafelberg hinauf und genießen das einmalige Panorama. Mit Johannesburg besuchen Sie die größte Stadt Südafrikas und entdecken dort wunderschöne Sehenswürdigkeiten. Freuen Sie sich also auf ein vielfältiges Südafrika und eine unvergessliche Reise!
        </p>
    </div>
</section>