@import '../../../../styles/variables';

.inspiration-container {
  background: linear-gradient(rgba(250,141,98,1), rgba(250,141,98,0.69)), url(../../../../assets/images/inspiration-bg.webp);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  .newletter-wrapper {
    .newletter-email {
      .email-address {
        border-radius: 4px 0 0 4px;
        padding: 8px 16px!important;
        border: 1px solid #ffc107;
        height: 48px!important;
        &::placeholder {
          color: $secondaryColor;
          font-size: 18px!important;
        }
        &:focus {
          box-shadow: none!important;
          border-color: white!important;
        }
      }
      .news-btn {
        border-radius: 0 4px 4px 0;
        border-color: #ffc107!important;
        transition: 0.5s;
        &:focus {
          box-shadow: none!important;
        }
        &:hover {
          box-shadow: inset 19.5em 0 0 0 $textColor!important;
          color: #ffc107!important;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .newletter-wrapper {
    .newletter-email {
      width: 636px!important;
      margin: auto;
    }
  }
}
