<div class="sub-header-wrapper">
    <div class="sub-header-items title-padding d-flex align-items-center justify-content-between">
        <div class="col text-center">
            <span class="fw-medium-1 sub-title-size text-white">Reisespezialisten</span>
        </div>
        <div class="col text-center">
            <span class="fw-medium-1 sub-title-size text-white">Sehenswürdigkeiten</span>
        </div>
        <div class="col text-center">
            <span class="fw-medium-1 sub-title-size text-white">Reiseinfos</span>
        </div>
        <div class="col text-center">
            <span class="fw-medium-1 sub-title-size text-white">Beste Reisezeit</span>
        </div>
        <div class="col text-center">
            <span class="fw-medium-1 sub-title-size text-white">Wissenswertes</span>
        </div>
    </div>
</div>
