<section class="steps-container bg-light-grey section-bp">
  <div class="container-xl">
    <div class="row align-items-center">
      <h3 class="user-big-text light-heigth-xbig title-color text-center fw-bold title-pb user-big-text-mobile">
        In 3 einfachen Schritten <span class="text-color">zu Ihrer Traumreise</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color fw-bold user-big-text">1</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Wie sieht Ihr Traumurlaub aus?</h4>
            <p class="step-description grey-color user-x-small-text mb-0">USA oder Thailand? Kultur oder Abenteuer? Rustikal oder Luxus? Geben Sie kurz an, wonach Sie suchen.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color user-big-text fw-bold">2</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Den besten Reiseexperten finden</h4>
            <p class="step-description grey-color user-x-small-text mb-0">Basierend auf Ihren Wünschen zeigen wir Ihnen die besten Reiseexperten an – Sie suchen den Besten aus und vereinbaren mit diesem einen Videoanruf.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color user-big-text fw-bold">3</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Ihr Reiseexperte macht den Rest</h4>
            <p class="step-description grey-color user-x-small-text mb-0">In dem Videoanruf berät Sie Ihr Experte und stellt Ihre Traumreise entsprechend Ihrer Wünsche individuell für Sie zusammen.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium" routerLink="/reiseexperten">Videoanruf vereinbaren</button>
    </div>
  </div>
</section>
