<section class="steps-container bg-light-grey section-bp">
  <div class="container-xl">
    <div class="row align-items-center">
      <h3 class="user-big-text light-heigth-xbig title-color text-center fw-bold title-pb user-big-text-mobile">
        In 3 einfachen Schritten <span class="text-color">zu Ihrer Traumreise</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color fw-bold user-big-text">1</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Sie möchten in den Urlaub fahren?</h4>
            <p class="step-description grey-color user-x-small-text mb-0">Abenteuer oder Entspannung? Clubhotel oder Ferienwohnung? Lassen Sie uns online wissen, wonach Sie suchen.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color user-big-text fw-bold">2</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Den idealen Reiseexperten finden</h4>
            <p class="step-description grey-color user-x-small-text mb-0">Basierend auf Ihren Wünschen suchen wir die idealen Reiseexperten die am besten zu Ihnen passen.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-wrapper title-pb d-flex">
          <div class="step-number"><span class="orange-color user-big-text fw-bold">3</span></div>
          <div class="step-text">
            <h4 class="step-title text-color user-small-text fw-bold">Die Reiseexperten machen den rest</h4>
            <p class="step-description grey-color user-x-small-text mb-0">Vereinbaren Sie einen Videoanruf mit dem Reiseexperten, um Ihre Reise zu planen und den perfekten Urlaub zu genießen!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium" routerLink="/reiseexperten">Videoanruf vereinbaren</button>
    </div>
  </div>
</section>
