<section class="article-section article-section-one section-pt-medium">
    <div class="container-lg section-wrapper">
        <div class="section-first-row d-flex article-mobile-dsiplay">
            <div class="col-md">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">Krüger-Nationalpark</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Eine Chance diese wilden Tiere in ihrem natürlichen Lebensraum zu erleben, bietet der Krüger-Nationalpark. Der Park zählt definitiv zu den Highlights während Ihrer Rundreise nach Südafrika. Er wurde 1898 gegründet und ist somit der älteste Nationalpark und das größte Natur- und Wildschutzgebiet Südafrikas. Die Anreise zum Krüger-Nationalpark erfolgt häufig von Johannesburg aus.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="item-container section-padding bg-light-grey br-8 ms-3 mb-2">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24">Johannesburg </h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Die größte Stadt Südafrikas hält kulturell verschiedene Sehenswürdigkeiten für Sie bereit, beispielsweise das Apartheid Museum. Welche Sehenswürdigkeiten Sie auf Ihrer Reise entdecken wollen, liegt ganz in Ihrer Hand. Ihr Reisespezialist wird Sie bei Ihrer Reiseplanung unterstützen und Sie mit verschiedenen Tipps versorgen. Wir machen Ihre Reise zu einer Traumreise!</p>
                </div>
            </div>
        </div>
        <div class="section-seconde-row section-btn section-pt-medium">
            <button 
            type="button" 
            [routerLink]="['/reiseexperten']" [queryParams]="{reiseziele: data}"
            class="btn user-btn orange-gb text-white user-x-small-text fw-medium">
            <span>Reisespezialisten auswählen</span>
            <i class="bi bi-chevron-right ms-3"></i>
          </button>
        </div>
    </div>
</section>
