<section *ngIf="data&&data.sectionFour" class="article-section article-section-one section-pt-medium">
    <div class="container-xl section-wrapper">
        <div class="section-first-row d-flex article-mobile-dsiplay">
            <div class="col-md" *ngFor="let item of data.sectionFour">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">{{ item.title }}</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">
                        {{ item.content }}
                    </p>
                    </div>
            </div>
        </div>
        <div class="section-seconde-row section-btn section-pt-medium">
            <button 
            type="button" 
            [routerLink]="['/reiseexperten']" [queryParams]="{reiseziele: data.destination_name}"
            class="btn user-btn orange-gb text-white user-x-small-text fw-medium">
            <span>Reisespezialisten auswählen</span>
            <i class="bi bi-chevron-right ms-3"></i>
          </button>
        </div>
    </div>
</section>
