<section *ngIf="data" class="article-section article-section-advantages section-mt-medium">
	<div class="container-xl section-wrapper">
		<h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb">
			Ihre Vorteile im Überblick bei Tripedeo
		</h3>
	</div>
	<div class="section-items-wrapper py-5">
		<div class="container-xl">
			<div class="section-first-row d-flex">
				<div class="col-lg-4" *ngFor="let item of data; let i = index"
				[ngClass]="{
					'd-block d-lg-none': i == 3 || i == 4 || i == 5
				  }">
					<div class="advantage-item-container d-flex align-items-center">
						<div class="advantage-icon me-3 me-3 mb-md-0 mb-4">
							<img   *ngIf="item.logo.url"
							[src]="BASE_STRAPI_API_URL + item.logo.url" loading="lazy" />
							<img *ngIf="!item.logo.url" src="assets/images/advantage-1.svg" loading="lazy" />
						</div>
						<div class="advantage-text">
							<h6 class="item-title primary-color fw-bold sub-title-size fw-black line-heigth-24 mb-2">{{item.title}}
							</h6>
							<p class="advantaga-pg title-grey-color paragraphe-fs mb-0">{{item.description}}</p>
						</div>
					</div>
				</div>
			</div>
	
			<div class="section-seconde-row section-mt-medium d-flex d-lg-flex d-none">
				<div class="col-lg-4" *ngFor="let item of data; let i = index"
				[ngClass]="{
					'd-block d-lg-none': i == 0 || i == 1 || i == 2
				  }">
					<div class="advantage-item-container d-flex align-items-center">
						<div class="advantage-icon me-3 me-3 mb-md-0 mb-4">
							<img   *ngIf="item.logo.url"
							[src]="BASE_STRAPI_API_URL + item.logo.url" loading="lazy" />
							<img *ngIf="!item.logo.url" src="assets/images/advantage-1.svg" loading="lazy" />
						</div>
						<div class="advantage-text">
							<h6 class="item-title primary-color fw-bold sub-title-size fw-black line-heigth-24 mb-2">{{item.title}}
							</h6>
							<p class="advantaga-pg title-grey-color paragraphe-fs mb-0">{{item.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</section>