.article-section-advantages {
  .section-items-wrapper {
    background: linear-gradient(#F6F6F6F0, #F6F6F6F0), url('../../../../assets/images/bottom-section-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

  .advantage-item-container {
    .advantage-icon {
      img {
        width: 5rem;
        max-width: 5rem;
        height: auto;
      }
    }
  }
  .section-seconde-row {
    .advantage-item-container {
      .advantage-icon {
        img {
          width: 4rem;
          max-width: 4rem;
          height: auto;
        }
      }
    }
  }
}

/*------------------------Responsive Design ------------------*/
@media screen and (max-width: 991px) {
  .article-section-advantages {
    .section-items-wrapper {
      .section-first-row {
        overflow-x: scroll;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: none!important;
        &::-webkit-scrollbar {
          width: 0!important;  /* Remove scrollbar space */
          background: transparent!important;  /* Optional: just make scrollbar invisible */
        }
        &::-webkit-scrollbar-thumb {
          width: 0!important;
          background: transparent!important;
        }
        .col-lg-4 {
          flex: 0 0 50%;
          margin: 0 1rem;
          .advantage-item-container {
            display: block!important;
            text-align: center!important;
            .advantage-icon  {
              width: 6rem;
              height: 6rem;
              margin: auto!important;
              display: flex;
              align-items: center;
              img {
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .article-section-advantages {
    .section-items-wrapper {
        .col-lg-4 {
          flex: 0 0 100%;
        }
      }
    }
  }
