@import '../../../../styles/variables';
.home-page-navbar {
  .home-page-menu {
    .nav-item {
      padding: 0 0.346rem;
      .nav-link.active {
        color: $titleColor!important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  div#navbarNav {
    margin-top: 1.875rem;
  } 
  .user-menu-button {
    &:focus {
      box-shadow: none!important;
    }
  }
  .navbar-brand.home-page-logo {
    display: block;
    position: absolute;
    left: 100px;
    top: 15px;
  }
}
