@import '../../../../styles/variables';
.home-page-navbar {
  .home-page-menu {
    .nav-item {
      padding: 0 0.346rem;
      .nav-link.active {
        color: $titleColor!important;
      }
    }
  }
}
@media screen and (min-width: 768px){
    .navbar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
          
    }     
}

.landing-container {
  margin-top: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #205BD8;
}

.landing-text {
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .landing-container {
    margin-top: 0!important;
  }
  div#navbarNav {
    margin-top: 1.875rem; 
  } 
  .user-menu-button {
    &:focus {
      box-shadow: none!important;
    }
  }
  .navbar-brand.home-page-logo {
    display: block;
    position: absolute;
    left: 100px;
    top: 15px;
  }

  .tripedeo-mobile-menu {
    margin-top: 40px!important;
    position: relative;
    z-index:  38;
    .navbar-nav {
      position: fixed;
      background: #fff;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      padding-top: 120px;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      .nav-item {
        padding: 0!important;
        .nav-link {
          font-size: 1.5rem!important;
          color: $textColor!important;
          margin: 1rem 0!important;
          i {
            font-size: 1.5rem!important;
            color: $textColor!important;
            padding-right: 20px!important;
          }
        }
        .nav-link.active {
          color: $textColor!important;
          i {
            color: $textColor!important;
          }
        }
      }
    }
    .user-menu-button {
      position: absolute;
      right: 18px;
      top: 15px;
      border-color: #0000!important;
      z-index: 1;
      .close-menu-btn {
        color: $textColor!important;
        font-size: 1rem!important;
    }
    }
    .home-page-logo {
      left: 24px;
      z-index: 1;
  }
  }
}
