<nav class="navbar py-3 fixed-top navbar navbar-light bg-white navbar-expand-md shadow-sm home-page-navbar">
    <div class="container-lg">
      <a class="navbar-brand home-page-logo" href="#">
        <img src="assets/images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse home-page-menu" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item ps-0">
            <a class="nav-link grey-color active" aria-current="page" href="#">
              <i class="bi bi-globe2 pe-2 paragraphe-fs"></i>Reiseziele</a>
        </li>
        <li class="nav-item">
            <a class="nav-link grey-color" href="#">
              <i class="bi bi-map pe-2 paragraphe-fs"></i>Reisearten</a>
        </li>
        <li class="nav-item pe-0">
            <a class="nav-link grey-color" href="#">
              <i class="bi bi-question-circle pe-2 paragraphe-fs"></i>Warum Tripedeo?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

