<div class="agent-profile-main-content">
  <div class="agent-profile-images">
    <div *ngIf="agent != null && agent != undefined && (agent.agentCoverPhoto == null || agent.agentCoverPhoto == undefined)" class="agent-cover-picture"></div> 
    <div *ngIf="agent != null && agent != undefined && agent.agentCoverPhoto != null && agent.agentCoverPhoto != undefined" class="agent-cover-picture-extend" 
      [ngStyle]="{'background-image': 'url(' + urlBack + agent.agentCoverPhoto.mediaUrl + ')'}">
    </div>

    <div *ngIf="agent != null && agent != undefined" class="agent-profile-picture">
      <img *ngIf="
            agent.agentPhoto != null && agent.agentPhoto != undefined;
            else abbreviation" class="
            agent-avatar
            rounded-circle
            img-fluid img-profile" [src]="urlBack + agent.agentPhoto.mediaUrl" />
      <ng-template #abbreviation>
        <div *ngIf="agent.agentPhoto == null || agent.agentPhoto == undefined" class="fw-bold blue-chip-bg d-flex align-items-center justify-content-center user-xbig-text
              agent-avatar
              rounded-circle
              img-fluid img-profile" id="profileImageEdit">
          {{ abbriviation }}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="container-xl agent-profile-body">
    <div class="agent-rdv-button">
      <button type="button"
        class="btn user-btn orange-gb text-white user-x-small-text fw-medium d-flex align-items-center"
        (click)="openModal()">
        <i class="bi bi-camera-video me-2"></i><span>Videoanruf vereinbaren</span>
      </button>
   </div>
   <div *ngIf="agent" class="agent-info-container mb-5 d-flex">
    <div class="agent-video d-md-block d-md-none br-4 col-md-6 ">
      <div class="agent-wrapper-video d-flex align-items-center justify-content-center ms-3">
        <app-agent-video 
          [agentVideo]="agent.agentVideo" 
          [agentVideoPresentation]="agent.agentVideoPresentation">
        </app-agent-video>
       </div>
     </div>
   </div>
   <div *ngIf="agent" class="agent-info-container mb-5 d-flex">
     <div class="agent-info flip-card leight-grey-gb section-padding pt-0 col-md-6" id="about-agent">
      <div class="agent-btn-actions d-flex">
        <button type="button" class="btn btn-link blue-chip-bg d-md-block d-none me-2" [ngClass]="showBackCard && 'orange-gb' || ''" (click)= "displayCardBack()">
          <img *ngIf="!showBackCard; else backIcon" src="assets/images/calendar.svg" loading="lazy"/>
          <ng-template #backIcon>
            <img src="assets/images/calendar-w.svg" loading="lazy"/>
          </ng-template>
        </button>
        <button *ngIf="!agent.agentType" type="button" class="btn btn-link blue-chip-bg " ngbPopover="Reiseveranstalter" triggers="mouseenter:mouseleave">
          <img src="assets/images/man.svg" loading="lazy"/>
        </button>
        <button *ngIf="agent.agentType=='TOUR_OPERATOR'" type="button" class="btn btn-link blue-chip-bg " ngbPopover="Reiseveranstalter" triggers="mouseenter:mouseleave">
          <img src="assets/images/man.svg" loading="lazy"/>
        </button>
        <button *ngIf="agent.agentType=='TRAVEL_SELLER'" type="button" class="btn btn-link blue-chip-bg " ngbPopover="Reiseverkäufer" triggers="mouseenter:mouseleave">
          <img src="assets/images/AG3.svg" loading="lazy"/>
        </button>
        </div>
       <div class="flip-card-inner leight-grey-gb">
         <div class="flip-card-front leight-grey-gb">
            <app-agent-information 
            [agent] = "agent" 
            [agentDesc] = "htmlDescription"
            [listCountries]="listCountries"
            [listactivities]="listactivities"
            [agentAvailability] = "agentAvailability">
          </app-agent-information>
         </div>
         <div class="flip-card-back d-md-block d-none leight-grey-gb">
           <app-availability></app-availability>
         </div>
       </div>
    </div>

      <div *ngIf="agent" class="agent-video d-md-block d-none br-4 col-md-6 ">
        <div class="agent-wrapper-video d-flex align-items-center justify-content-center ms-3">
          <app-agent-video 
            [agentVideo]="agent.agentVideo" 
            [agentVideoPresentation]="agent.agentVideoPresentation">
          </app-agent-video>
         </div>
       </div>
     </div>

   <div *ngIf="agent && listGalleries.length" class="agent-gallery mb-5">
    <h4 class="user-meduim-text fw-bold text-black mb-4"> Galerie </h4>
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container  *ngIf="listGalleries[0].agentGallerySpeciality && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace" ngbNavItem>
        <a *ngIf="listGalleries[0].agentGallerySpeciality && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace.superPlaceLabel" ngbNavLink>{{ listGalleries[0]!.agentGallerySpeciality!.agentSpecialitySuperPlace!.superPlaceLabel }}</a>
       <a *ngIf="listGalleries[0].agentGallerySpeciality && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace.countryLabel" ngbNavLink>{{ listGalleries[0]!.agentGallerySpeciality!.agentSpecialitySuperPlace!.countryLabel }}</a>
       <a *ngIf="listGalleries[0].agentGallerySpeciality && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace.regionLabel" ngbNavLink>{{ listGalleries[0]!.agentGallerySpeciality!.agentSpecialitySuperPlace!.regionLabel }}</a>
       <a *ngIf="listGalleries[0].agentGallerySpeciality && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace && listGalleries[0].agentGallerySpeciality.agentSpecialitySuperPlace.placeLabel" ngbNavLink>{{ listGalleries[0]!.agentGallerySpeciality!.agentSpecialitySuperPlace!.placeLabel }}</a>
       
        <ng-template ngbNavContent>
          <app-agent-gallery [agentCountryGallery]="listGalleries[0]" [agentUuid]="agentUuid"></app-agent-gallery>
        </ng-template>
      </ng-container>
     <ng-container *ngFor="let gallery of listGalleries.slice(1)"  ngbNavItem>
       <a *ngIf="gallery.agentGallerySpeciality && gallery.agentGallerySpeciality.agentSpecialitySuperPlace && gallery.agentGallerySpeciality.agentSpecialitySuperPlace.superPlaceLabel" ngbNavLink>{{ gallery!.agentGallerySpeciality!.agentSpecialitySuperPlace!.superPlaceLabel }}</a>
       <a *ngIf="gallery.agentGallerySpeciality && gallery.agentGallerySpeciality.agentSpecialitySuperPlace && gallery.agentGallerySpeciality.agentSpecialitySuperPlace.countryLabel" ngbNavLink>{{ gallery!.agentGallerySpeciality!.agentSpecialitySuperPlace!.countryLabel }}</a>
       <a *ngIf="gallery.agentGallerySpeciality && gallery.agentGallerySpeciality.agentSpecialitySuperPlace && gallery.agentGallerySpeciality.agentSpecialitySuperPlace.regionLabel" ngbNavLink>{{ gallery!.agentGallerySpeciality!.agentSpecialitySuperPlace!.regionLabel }}</a>
       <a *ngIf="gallery.agentGallerySpeciality && gallery.agentGallerySpeciality.agentSpecialitySuperPlace && gallery.agentGallerySpeciality.agentSpecialitySuperPlace.placeLabel" ngbNavLink>{{ gallery!.agentGallerySpeciality!.agentSpecialitySuperPlace!.placeLabel }}</a>
       <ng-template ngbNavContent>
         <app-agent-gallery [agentCountryGallery]="gallery" [agentUuid]="agentUuid"></app-agent-gallery>
       </ng-template>
     </ng-container>
   </nav>
   <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

   </div>
  </div>


<app-appointement-modal #modal [modalConfig]="modalConfig">
  <!--  body of the modal  -->
</app-appointement-modal>

