@import "../../../styles/variables";

.agent-profile-main-content {
  .agent-profile-images {
    .agent-cover-picture {
      height: 21.25rem;
      min-height: 21.25rem;
      max-height: 21.25rem;
      background-image: url(../../../assets/images/cover-default.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .agent-cover-picture-extend {
      height: 21.25rem;
      min-height: 21.25rem;
      max-height: 21.25rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .agent-profile-picture {
      display: flex;
      justify-content: center;
      .agent-avatar {
        margin-top: -7rem;
        border: 0.4rem solid white;
        margin-top: -7rem;
        border: 0.4rem solid white;
        width: 15.313rem;
        height: 15.313rem;
      }
      #profileImageEdit {
        color: white!important;
      }
    }

    #profileImageEdit {
      background: $stars-grey-color;
      font-size: 6rem;
      color: white;
      text-align: center;
    }
    #profileImageEditMobile {
      background: $stars-grey-color;
      font-size: 3rem;
      color: white;
      text-align: center;
    }  
  }
  .agent-profile-body {
    padding-top: 2rem;
    .agent-rdv-button {
      position: absolute;
      margin-top: -8rem;
      .bi-camera-video {
        font-size: 1.4rem;
      }
    }
    .agent-info-container {
      .agent-info  {
        position: relative;
        .agent-btn-actions {
          position: absolute;
          right: 20px;
          z-index: 999;
          .btn {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            width: 3.75rem;
            height: 3.75rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: none !important;
          }
        }
      }
      .agent-video {
        .agent-wrapper-video {
          background: black;
          border-radius: 4px;
          height: 100%;
        }
      }
    }
    .agent-gallery {
      .nav-tabs {
        border-bottom: none !important;
        margin-bottom: 1.5rem;
        overflow-x: scroll!important;
        flex-wrap: nowrap!important;
        &::-webkit-scrollbar {
          width: 0;  /* Remove scrollbar space */
          background: transparent;  /* Optional: just make scrollbar invisible */
        }
        &::-webkit-scrollbar-thumb {
          background: transparent;
        }
        .nav-link {
          margin-bottom: 0 !important;
          border: none !important;
          color: black;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.5rem;
          padding-right: 0;
          padding-left: 0;
          margin-right: 2rem;
          height: 48px!important;
          white-space: nowrap!important;
        }
        .nav-link.active {
          color: $orangeColor !important;
          border-bottom: 3px solid $orangeColor !important;
        }
      }
    }
  }
}

.flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.flip-card-Rotate .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  transform: rotateY(180deg);
  top:0;
}

@media screen and (max-width: 767px) {
  .agent-profile-images {
    .agent-cover-picture {
      height: 11.875rem!important;
      min-height: 11.875em!important;
      max-height: 11.875rem!important;
    }
    .agent-profile-picture {
      .agent-avatar {
        width: 9.063rem!important;
        height: 9.063rem!important;
        margin-top: -5rem!important;
      }
      #profileImageEdit {
        font-size: 2rem!important;
      }
    }
  }
  .agent-profile-body {
    .agent-rdv-button {
      position: initial!important;
      margin-top: 1rem!important;
      margin-bottom: 2rem;
      .user-btn {
        width: 100%!important;
        justify-content: center!important;
      }
    }
  }
  .agent-gallery {
    .nav-tabs {
      .nav-link {
        font-size: 1.15rem!important;
        margin-right: 1.5rem!important;
      }
    }
  }
}
