@import "../../../../styles/variables";
.sub-header-wrapper{
  background-image: url(../../../../assets/images/bg-section.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}