@import '../../../../styles/variables';
.footer-container {
  .user-footer-p1 {
    .border-ft {
      border-color: $secondaryColor!important;
    }
  }
  .footer-container-wrapper {
    h3 {
      line-height: 2rem;
    }
    a {
      line-height: 1.75rem!important;
      &:hover {
        color: $orangeColor!important;
      }
    }
    .social-media-icons {
      a {
        i {
          font-size: 21px;
        }
      }
    }
  }
}
