<footer class="footer-container bg-light-grey section-bp">
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="user-footer-p1">
          <img class="logo-footer d-block mb-4" src="assets/images/logo.png">
          <p class="grey-color paragraphe-fs mb-0">Wir suchen deutschlandweit nach dem perfekten Experten für Sie und zeigen Ihnen Experten, die am besten zu Ihrer Wunschreise passen.</p>
          <p class="mb-0 mt-4">
            <a class="paragraphe-fs light-heigth-big grey-color border-end me-2 border-2 pe-2 border-ft" href="/imprint">Impressum</a>
            <a class="paragraphe-fs light-heigth-big grey-color" href="/datenschutz">Datenschutz und AGBs</a> 
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="footer-container-wrapper">
          <h3 class="paragraphe-fs text-dark fw-medium  mb-4">Kategorien</h3>
          <a href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Reiseziele</a>
          <a  href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Reisearten</a>
          <a  href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Angebote</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="footer-container-wrapper">
          <h3 class="paragraphe-fs text-dark fw-medium  mb-4">Links</h3>
          <a href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Über uns</a>
          <a  href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">FAQ</a>
          <a  href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Presse</a>
          <a  href="#" class="d-block mb-0 paragraphe-fs grey-color link-td mb-2">Jobs</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-container-wrapper">
          <h3 class="paragraphe-fs text-dark fw-medium  mb-4">In Verbindung bleiben</h3>
          <p class="grey-color paragraphe-fs mb-4">Verpassen Sie keine Neuigkeiten über uns und folgen Sie uns in den sozialen Netzwerken</p>
          <div class="social-media-icons mt-1">
            <a class="paragraphe-fs grey-color" href="#">
              <i class="fa fa-facebook me-4" aria-hidden="true"></i>
            </a>
            <a class="paragraphe-fs grey-color" href="#">
              <i class="fa fa-linkedin me-4" aria-hidden="true"></i>
            </a>
            <a class="paragraphe-fs grey-color" href="#">
              <i class="fa fa-instagram me-4" aria-hidden="true"></i>
            </a>
            <a class="paragraphe-fs grey-color" href="#">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
