<section *ngIf="data&&data.decouvertes_pays_region" class="article-section article-info-section section-pt-medium">
    <div class="container-xl section-wrapper">
        <div class="section-first-row mx-3 mx-md-0">
            <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">{{data.decouvertes_pays_region.decouverte_title}}</h3>
            <h6 class="sub-title user-meduim-text fw-medium mb-0 text-black">
               {{data.decouvertes_pays_region.section1_title}}
            </h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color mb-0 py-4">
                {{data.decouvertes_pays_region.section1_content}}
            </p>
    
            <h6 class="sub-title fw-medium user-meduim-text mb-0 py-4 text-black">
               {{data.decouvertes_pays_region.section2_title}}
            </h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color">
                {{data.decouvertes_pays_region.section2_content}}
            </p>
        </div>
        <div class="section-seconde-row info-section-bg section-mt-medium section-pt-medium title-pb">
            <div class="info-text-wrapper d-md-flex align-items-center">
                <div class="icon-container text-center mb-4 mb-md-0 col-md-3">
                    <img src="assets/images/wallet.svg" alt="tripedeo article" loading="lazy" class="info-img-icon">
                </div>
                <div class="text-container pe-md-5 col-md-9">
                    <h4 class="info-text-title text-white mb-4 fw-bold">{{data.travel_cost.titre}}</h4>
                    <p class="info-text-container text-white light-heigth-medium sub-title-size ">
                        {{data.travel_cost.body}}
                    </p>
                    <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mt-3 mt-md-0">Reiseberatung vereinbaren</button>
                </div>
            </div>
        </div>
  </div>
</section>
