
.section-seconde-row.info-section-bg {
    /*background: linear-gradient(#2B616Dcf, #2B616Dcf), url(../../../../assets/images/section-africain-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    min-height: 350px;
}

.info-img-icon {
    width: 6.875rem;
}

/*------------------------Responsive Design ------------------*/

@media screen and (max-width: 767px) {
    .article-info-section {
        .container-xl {
            padding: 0!important;
        }
    }
    .section-first-row {
        h6.sub-title {
            font-size: 0.875rem!important;
        }
    }
    .text-container {
        text-align: center;
        .user-btn {
          width: 100%!important;
        }
    }
    .info-text-wrapper {
      width: 85%;
      margin: auto;
      .info-text-title {
        font-size: 0.875rem!important;
      }
      .info-text-container {
        font-size: 0.875rem!important;
        text-align: justify;
      }
    }
}