
.section-seconde-row.info-section-bg {
    background: linear-gradient(#2B616Dcf, #2B616Dcf), url(../../../../assets/images/section-africain-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.info-img-icon {
    width: 6.875rem;
}