<section class="article-section article-section-one section-pt-medium">
    <div class="container-lg section-wrapper">
        <div class="section-first-row">
            <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">Infos zur Südafrika Rundreise</h3>
            <h6 class="sub-title user-meduim-text fw-medium mb-0 text-black">
                Flugzeit – Wie lange fliegt man nach Südafrika?
            </h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color mb-0 py-4">
                Das Land am Gap der Guten Hoffnung ist etwas ganz Besonderes: In den unzähligen Nationalparks lernen Sie beeindruckende Tiere kennen. In Kapstadt fahren Sie mit einer Seilbahn den Tafelberg hinauf und genießen das einmalige Panorama. Mit Johannesburg besuchen Sie die größte Stadt Südafrikas und entdecken dort wunderschöne Sehenswürdigkeiten. Freuen Sie sich also auf ein vielfältiges Südafrika und eine unvergessliche Reise!
            </p>
    
            <h6 class="sub-title fw-medium user-meduim-text mb-0 py-4 text-black">
                Reisedauer
            </h6>
            <p class="paragraphe-fs small-title-size line-heigth-40 text-color">
                Um das Land und seine vielen Facetten ausgiebig zu erleben, sollten Sie für eine Rundreise in Südafrika ausreichend Zeit einplanen. Ob Sie 2, 3 oder 4 Wochen im Land am Kap der guten Hoffnung bleiben möchten, hängt letztendlich von Ihnen ab. Im Schnitt verreisen Touristen für 10-14 Tage nach Südafrika und besuchen die schönsten Orte. Selbstverständlich gibt es auch Touristen, die nur für eine Woche kommen und dann nicht alles sehen oder welche, die mehr als zwei Wochen bleiben und sich mehrere Tage in einer Stadt beziehungsweise Region aufhalten. Wir empfehlen Ihnen mindestens zwei Wochen für Ihre Reise einzuplanen. 
            </p>
        </div>
        <div class="section-seconde-row info-section-bg section-mt-medium section-pt-medium title-pb">
            <div class="info-text-wrapper d-flex align-items-center">
                <div class="icon-container text-center col-3">
                    <img src="assets/images/wallet.svg" alt="tripedeo article" loading="lazy" class="info-img-icon">
                </div>
                <div class="text-container pe-5 col-9">
                    <h4 class="info-text-title text-white mb-4 fw-bold">Was kostet eine Rundreise nach Südafrika?</h4>
                    <p class="info-text-container text-white light-heigth-medium sub-title-size ">
                        Wie teuer eine Rundreise in Südafrika ist, hängt von unterschiedlichen Faktoren (Reisedauer, Art der Unterkünfte, Auswahl an Aktivitäten etc.) ab. Im Schnitt können Sie für einen Economy-Flug nach Südafrika 500-800 Euro pro Person einplanen. Vor Ort geben Reisende etwa 100-150 Euro pro Person und Tag für Unterkunft, Verpflegung und Aktivitäten aus. Für ein individuelles Urlaubsangebot samt Kostenüberblick vereinbaren Sie eine Beratungstermin mit einem unserer Reisespezialisten für Südafrika Rundreisen.
                    </p>
                    <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium">Reiseberatung vereinbaren</button>
                </div>
            </div>
        </div>
    </div>
</section>