<div class="agent-picture-items">
    <div *ngIf="agentCountryGallery.agentGalleryMedias && agentCountryGallery.agentGalleryMedias.length && agentCountryGallery.agentGalleryMedias.length === 3" class="agent-picture">
      <div class="agent-pic-wrapper d-md-flex align-items-stretch mb-3">
        <div class="img-wrapper col-md-6">
          <div class="agent-picture-container" [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[0].mediaUrl + ')'}"></div>
        </div>
        <div class="agent-picture-description col-md-6">
            <div class="contry-decription orange-chip-gb d-flex align-items-center ms-md-3 mt-md-0 mt-3 px-5 py-3">
              <div class="decription-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z"/></svg>
                <p class="text-color">{{ agentCountryGallery.agentGalleryDescription }} </p>
                <div class="agent-rdv-button d-flex justify-content-end">
                  <button 
                    type="button" 
                    class="btn user-btn orange-gb text-white user-x-small-text fw-medium d-flex align-items-center" (click)="openModal()">
                    <i class="bi bi-camera-video me-2"></i><span>Videoanruf vereinbaren</span>
                  </button>
              </div>
              </div>
            </div>
        </div>
      </div>
      <div class="agent-pic-wrapper d-md-flex">
        <div class="img-wrapper col-md-6">
          <div class="agent-picture-container" [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[1].mediaUrl + ')'}"></div>
        </div>
        <div class="img-wrapper col-md-6">
          <div class="agent-picture-container ms-md-3 mt-md-0 mt-3" [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[2].mediaUrl + ')'}"></div>
        </div>
      </div>
    </div>
    <div *ngIf="agentCountryGallery.agentGalleryMedias && agentCountryGallery.agentGalleryMedias.length && agentCountryGallery.agentGalleryMedias.length === 2" class="agent-picture">
      <div class="agent-pic-wrapper d-md-flex align-items-stretch">
        <div class="col-md-6" >
          <div class="img-wrapper">
            <div class="agent-picture-container mb-3" [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[0].mediaUrl + ')'}"></div>
          </div>
          <div class="img-wrapper">
            <div class="agent-picture-container " [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[1].mediaUrl + ')'}"></div>
          </div>
        </div>
        <div class="agent-picture-description  col-md-6">
            <div class="contry-decription d-flex align-items-center orange-chip-gb ms-md-3 mt-md-0 mt-3 px-5 py-3">
              <div class="decription-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z"/></svg>
              <p class="text-color">{{ agentCountryGallery.agentGallerySpeciality }} </p>
              <div class="agent-rdv-button d-flex justify-content-end">
                <button 
                  type="button" 
                  class="btn user-btn orange-gb text-white user-x-small-text fw-medium d-flex align-items-center" (click)="openModal()">
                  <i class="bi bi-camera-video me-2"></i><span>Videoanruf vereinbaren</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="agentCountryGallery.agentGalleryMedias && agentCountryGallery.agentGalleryMedias.length && agentCountryGallery.agentGalleryMedias.length === 1" class="agent-picture">
      <div class="agent-pic-wrapper d-md-flex align-items-stretch">
        <div class="img-wrapper col-md-6">
          <div class="agent-picture-container orange-chip-gb" [ngStyle]="{'background-image': 'url(' + agentCountryGallery.agentGalleryMedias[0].mediaUrl + ')'}"></div>
        </div>
        <div class="agent-picture-description col-md-6">
            <div class="contry-decription d-flex align-items-center orange-chip-gb ms-md-3 mt-md-0 mt-3 px-5 py-3">
              <div class="decription-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z"/></svg>
                <p class="text-color">{{ agentCountryGallery.agentGallerySpeciality }} </p>
                <div class="agent-rdv-button d-flex justify-content-end">
                  <button 
                    type="button" 
                    class="btn user-btn orange-gb text-white user-x-small-text fw-medium d-flex align-items-center" (click)="openModal()">
                    <i class="bi bi-camera-video me-2"></i><span>Videoanruf vereinbaren</span>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <app-appointement-modal #modal [modalConfig]="modalConfig">
    <!--  body of the modal  -->
  </app-appointement-modal>
