@import "../../../../styles/variables";

.agent-picture-items {
    .agent-pic-wrapper {
      .agent-picture-container {
        min-height: 380px;
        height: 100%!important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .agent-picture-description {
      .contry-decription {
        height: 100%;
        svg {
          fill: $orangeColor!important;
        }
        .bi-camera-video {
          font-size: 1.4rem;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .agent-picture-items {
      .agent-pic-wrapper {
        .agent-picture-container {
          height: 300px;
        }
      }
    }
  }