@import '../../../styles/variables';

.inspiration-container {
  background: linear-gradient(rgba(250,141,98,1), rgba(250,141,98,0.69)), url(../../../assets/images/inspiration-bg.jpeg);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}