<section class="inspiration-container section-bp">
  <div class="container-lg">
    <div class="row align-items-center">
      <h3 class="user-big-text light-heigth-xbig text-white fw-bold text-center user-big-text-mobile">Sie suchen nach Inspiration für Ihre nächste Reise?</h3>
      <span class="text-white paragraphe-fs text-center title-pb">Melde Sie sich für unseren Newsletter an und erhalten Sie Angebote und Inspirationen für ihren nächsten Trip.</span>
    </div>
    <div class="row align-items-center newletter-wrapper">
      <div class="col-md-8 offset-md-2 newletter-email d-flex">
        <input class="form-control email-address" id="news-email" type="email" placeholder="Ihre E-Mail-Adresse">
        <button type="button" class="btn btn-warning news-btn paragraphe-fs text-color fw-medium py-2 px-4">Abonnieren</button>
      </div>
    </div>
  </div>
</section>
