<section id="warum-tripedeo" class="why-use-container section-bp">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-md-6 content-wrapper d-flex align-items-center">
        <div class="why-use-text">
          <h3 class="text-color light-heigth-xbig user-big-text fw-bold user-big-text-mobile">Warum</h3>
          <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile">Tripedeo?</h3>
          <p class="paragraphe-fs small-title-size line-heigth-40 mb-0 mb-md-3 text-color">Sie sind auf der Suche nach einem Reiseexperten, der sich  genau mit der Art von Urlaub auskennt, die Sie suchen?</p>
          <p class="paragraphe-fs small-title-size line-heigth-40 text-color">Wir suchen deutschlandweit nach dem perfekten Experten für Sie und zeigen Ihnen Experten, die am besten zu Ihrer Wunschreise passen.
            Mit nur wenigen Klicks können Sie bequem von zu Hause aus ein Videotelefonat mit einem Reiseexperten vereinbaren um Ihre Traumreise zusammenstellen zu lassen.</p>
            <p class="paragraphe-fs grey-dark"><strong>Natürlich kostenfrei und unverbindlich</strong></p>
        </div>
      </div>
      <div class="col-md-6 why-use-img-wrapper">
        <img class="img-fluid" src="assets/images/location.png">
      </div>
    </div>
  </div>
</section>
