@import '../../../styles/variables';

.why-use-container {
  background-color: $bgGreyColor;
}

@media screen and (max-width: 767px) {
  .why-use-container {
    .why-use-img-wrapper {
      display: block;
      margin: auto;
      margin-top: 2.5rem;
    }
  }
}