<section *ngIf="data" class="article-section article-section-one section-pt-medium">
  <div class="container-xl section-wrapper">
    <div class="section-first-row paragraph-pb">
      <h3
        class="
          primary-color
          user-big-text
          light-heigth-xbig
          fw-bold
          user-big-text-mobile
          subtitle-pb
        "
      >
        {{ data.title }}
      </h3>
    </div>
    <div class="section-seconde-row row d-flex">
      <div class="col-6 mb-4" *ngFor="let item of data.travel_information_item">
        <div
          class="item-container section-padding bg-light-grey br-8 me-3 mb-2"
        >
          <h6
            class="
              item-title
              primary-color
              fw-bold
              user-meduim-text
              line-heigth-24
              mb-2
            "
          >
            {{ item.title }}
          </h6>
          <p
            class="
              item-text
              paragraphe-fs
              small-title-size
              line-heigth-40
              text-color
              light-heigth-medium
            "
          >
            {{ item.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
