<section class="article-section article-section-one section-pt-medium">
    <div class="container-lg section-wrapper">
        <div class="section-first-row paragraph-pb">
            <h3 class="primary-color user-big-text light-heigth-xbig fw-bold user-big-text-mobile subtitle-pb ">Wissenswertes für Ihre Reise nach Südafrika</h3>
        </div>
        <div class="section-seconde-row d-flex">
            <div class="col">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">Einreisebestimmungen und Visum</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Das Land am Gap der Guten Hoffnung ist etwas ganz Besonderes: In den unzähligen Nationalparks lernen Sie beeindruckende Tiere kennen. In Kapstadt fahren Sie mit einer Seilbahn den Tafelberg hinauf und genießen das einmalige Panorama. Mit Johannesburg besuchen Sie die größte Stadt Südafrikas und entdecken dort wunderschöne Sehenswürdigkeiten. Freuen Sie sich also auf ein vielfältiges Südafrika und eine unvergessliche Reise!</p>
                </div>
            </div>
            <div class="col">
                <div class="item-container section-padding bg-light-grey br-8 ms-3 mb-2">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24">Impfungen </h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Wer für einen Urlaub nach Südafrika reist, dem werden verschiedene Impfungen empfohlen. Es gibt allerdings keine Pflichtimpfungen, die Sie benötigen, um in Südafrika einzureisen. Sollten Sie aus einem Gelbfiebergebiet kommen bzw. dort einen Stopp auf Ihrem Weg nach Südafrika haben, ist allerdings eine Gelbfieberimpfung nachzuweisen. Empfohlene Impfungen für einen Aufenthalt in Südafrika sind solche gegen Hepatitis A und wenn Sie länger bleiben auch gegen Hepatitis B und Tollwut.</p>
                </div>
            </div>
        </div>
        <div class="section-third-row mt-4 d-flex">
            <div class="col">
                <div class="item-container section-padding bg-light-grey br-8 me-3">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24 mb-2">Sprache</h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">Die touristische Landessprache ist Englisch. Fast alle Südafrikaner verstehen es, obwohl es nur bei gut 8% die Muttersprache ist. Die höchste Bevölkerungsanzahl bilden die Zulu, weshalb auch viele Südafrikaner Zulu als Muttersprache sprechen. Insgesamt gibt es in Südafrika allerdings 11 offizielle Landessprachen, was die kulturelle Vielfalt des Landes widerspiegel</p>
                </div>
            </div>
            <div class="col">
                <div class="item-container section-padding bg-light-grey br-8 ms-3 mb-2">
                    <h6 class="item-title primary-color fw-bold user-meduim-text line-heigth-24">Währung </h6>
                    <p class="item-text paragraphe-fs small-title-size line-heigth-40 text-color light-heigth-medium ">In Südafrika wird mit Rand (Z bzw. ZAR) bezahlt. Ein Euro entspricht ungefähr 17 ZAR. Sie haben vor Ort häufig die Möglichkeit mit einer EC- oder Kreditkarte zu bezahlen. Alternativ können Sie bereits im Vorfeld Geld tauschen oder eine der Wechselstuben nutzen. Bitte beachten Sie jedoch, dass Sie hier häufig hohe Gebühren zahlen müssen.</p>
                </div>
            </div>
        </div>
    </div>
</section>
