<div class="agent-video-wrapper d-flex align-items-center">
    <video *ngIf="agentVideo; else defaultVideo"
    width=" 100%" class="video-block" id="agent-video-mobile" [poster]="poster"
        (click)="triggerVideo()">
        <source [src]="urlBack + agentVideo.mediaUrl" type="video/mp4" />
    </video>
    <ng-template #defaultVideo>
        <video width="100%" class="video-block"
            [poster]="poster" id="agent-video-mobile" (click)="triggerVideo()">
            <source src="assets/videos/Video.mp4" type="video/mp4" />
        </video>
    </ng-template>
    <i *ngIf="playVideo" (click)="triggerVideo()" class="bi bi-play agent-video-play video-overlay"></i>
</div>