<div class="agency-filter-wrapper pt-4">
	<div class="agency-filter-title d-flex align-items-center justify-content-between pb-3">
		<span class="fw-medium user-x-small-text text-color line-heigth-24">Reisebüro</span>
	</div>
	<div class="form-group">
		<i class="bi bi-search"></i>
		<input type="text" class="form-control search-agency"
			placeholder="Suche nach Reisebüro">
	</div>
	<div class="agency-options">
		<div *ngFor="let agency of agencyListToShow;" class="form-group">
			<div>
				<input type="checkbox" [id]="agency.agencyLabel">
				<label class="user-x-small-text text-black  line-heigth-24" [for]="agency.agencyLabel">{{
					agency.agencyLabel }}</label>
			</div>
		</div>
		<a type="button" class="text-decoration-none blue-color user-x-small-text line-heigth-24" (click)="showMore()">{{
			buttonText }}</a>
	</div>
</div>