<div class="agent-items-container">
  <div class="agent-item animate__animated animate__fadeIn mb-5 bg-light-grey" *ngFor="let agent of agentItems; let agentIndex = index" [class]="agentIndex === 0 && 'orange-chip-gb matching-up' || ''">
    <div class="d-flex item-wrapper p-4 p-lg-0">
      <div class="avatar-container d-flex align-items-center col-lg-3 pe-3">
        <div *ngIf="agent.agentPhoto!=null && agent.agentPhoto!=undefined" [ngStyle]="{'background-image': 'url(' + urlPhotoBack + agent?.agentPhoto?.mediaUrl + ')'}" class="agent-avatar"></div>
        <div *ngIf="agent.agentPhoto==null || agent.agentPhoto==undefined" class="agent-avatar img-profile" id="profileImageEdit">{{agent.agentFullName.split(' ')[0].toUpperCase().charAt(0)}}{{agent.agentFullName.split(' ')[1].toUpperCase().charAt(0)}}</div>
        <h3 class="text-color paragraphe-fs fw-medium mb-lg-4 mb-0 ms-3 line-heigth-24 d-inline d-lg-none">{{ agent.agentFullName }}</h3>
      </div>
      <div class="agent-detail-container col-lg-6 py-lg-4 py-0">
        <div class="agent-details me-4">
          <h3 class="text-color paragraphe-fs fw-medium mb-4 line-heigth-24 d-none d-lg-block">
            {{ agent.agentFullName }}</h3>
          <p class="user-x-small-text grey-color line-heigth-24 agent-desc">{{ agent.agentDescription }}</p>
          <div class="agent-information">
            <p class="mb-2 information-list">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Reiseziele</span>
              <a *ngFor="let destionation of agent.destination" 
              [routerLink]="['.']" [queryParams]="{reiseziele: destionation}"
              class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ destionation }}</a>
            </p>
            <p class="mb-2  information-list">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Reisearten</span>
              <a *ngFor="let travel of agent.travelType" 
              [routerLink]="['.']" [queryParams]="{reisearten: travel}"
              class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ travel }}</a>
            </p>
            <p class="mb-2">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Matching</span>
              <span class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ agent.agentScore }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="agent-actions-container d-flex col-lg-3 py-0 pe-lg-4 pb-lg-4 pb-0">
        <div class="agent-buttons w-100 align-self-end">
          <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mb-2" (click)="openModal(agent.agentUuid)">Videoanruf vereinbaren</button>
          <button type="button" class="btn user-btn grey-btn grey-gb primary-color user-x-small-text fw-medium" routerLink="/agent/{{agent.agentUuid}}">Gesamtes Profil anzeigen</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-appointement-modal #modal [modalConfig]="modalConfig">
  <!--  body of the modal  -->
</app-appointement-modal>
