@import '../../../../styles/variables';
.agent-items-container {
  padding-left: 5rem;
  .agent-item {
    box-shadow: 0px 0px 16px 0px #CECECE40;
    border-radius: 1rem;
    border: 1px solid $bgGreyColor;
    .avatar-container {
      #profileImageEdit{
        line-height: 130px;
      }
      .agent-avatar {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }
    .agent-detail-container {
      max-width: 52%;
      .agent-details {
        margin-left: 1rem;
        .agent-desc {
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        .agent-information {
          .information-list {
            > * {
              display: inline-flex;
            }
          }
        }
      }
    }
    .agent-actions-container {
      .agent-action-header {
        min-width: 230px;
      }
      .agent-availability {
        .days-label {
          min-width: 80px;
        }
      }
      .agent-buttons {
        .user-btn {
          width: 100%!important;
          height: auto!important;
        }
        .grey-btn {
          &:hover {
            background-color: $greyHoverColor!important;
            color: $primaryColor!important;
          }
        }
      }
    }
    .user-status {
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 50%;
      margin-left: 1rem;
    }
  }
}


/* Fading entrances  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-width: 1199px) {
  .agent-items-container {
    padding-left: 3rem!important;
  }
}

@media screen and (max-width: 991px) {
  .agent-items-container {
    padding-left: 0!important;
    .agent-item {
      .item-wrapper {
        flex-wrap: wrap;
        .avatar-container {
            #profileImageEdit{
              line-height: 80px;
              font-size: 2rem!important;
            }
            .agent-avatar {
              width: 90px;
              height: 115px; 
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;             
            }
        }
        .agent-detail-container {
          max-width: 100%;
          width: 100%;
          .agent-details {
            margin: 0!important;
            .agent-desc {
              margin-top: 1.5rem!important;
              margin-bottom: 1.5rem!important;
            }
            .agent-information {
              margin-bottom: 1.5rem;
            }
          }
        }
        .agent-actions-container { 
          flex: 1 1;
        }
      }
    }
  }
}



#profileImageEdit {
  background: $stars-grey-color;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}