@import '../../../../styles/variables';
.agent-items-container {
  padding-left: 2.125rem;
  .agent-item {
    box-shadow: 0px 0px 16px 0px #CECECE40;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid $bgGreyColor;
    .avatar-container {
      .agent-avatar {
        width: 130px;
        height: 130px;
      }
    }
    .agent-detail-container {
      max-width: 52%;
      .agent-details {
        margin-left: 2.5rem;
        .agent-desc {
          word-wrap: break-word;
        }
        .agent-information {
          .information-list {
            > * {
              display: inline-flex;
            }
          }
        }
      }
    }
    .agent-actions-container {
      .agent-action-header {
        min-width: 230px;
      }
      .agent-availability {
        .days-label {
          min-width: 80px;
        }
      }
      .agent-buttons {
        .user-btn {
          width: 100%!important;
          height: auto!important;
        }
        .grey-btn {
          &:hover {
            background-color: $greyHoverColor!important;
            color: $primaryColor!important;
          }
        }
      }
    }
    .user-status {
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 50%;
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .agent-items-container {
    padding-left: 0!important;
    .agent-item {
      .item-wrapper {
        flex-wrap: wrap;
        .avatar-container {
          .agent-avatar {
            width: 80px;
            height: 80px;
          }
        }
        .agent-detail-container {
          max-width: 100%;
          width: 100%;
          .agent-details {
            margin: 0!important;
            .agent-desc {
              margin-top: 1.5rem!important;
              margin-bottom: 1.5rem!important;
            }
            .agent-information {
              margin-bottom: 1.5rem;
            }
          }
        }
        .agent-actions-container { 
          flex: 1 1;
        }
      }
    }
  }

  .img-profile{
    font-size: 3rem!important;
  }
}

.img-profile{
  font-size: 5.5rem;
}

#profileImageEdit {
  background: #3D626F;
  color: white;
  text-align: center;
}