<div class="agent-items-container">
  <div class="agent-item mb-4" *ngFor="let agent of agentItems">
    <div class="d-flex">
      <div class="avatar-container">
        <img [src]="agent.agentAvatar" class="agent-avatar rounded-circle" />
      </div>
      <div class="agent-detail-container">
        <div class="agent-details me-4">
          <h3 class="text-color paragraphe-fs fw-medium mb-4 line-heigth-24">{{ agent.agentName }}</h3>
          <p class="user-x-small-text grey-color line-heigth-24">{{ agent.agentDetail }}</p>
          <div class="agent-information">
            <p class="mb-2">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Reiseziele</span>
              <a *ngFor="let destionation of agent.destination" 
              href="#"
              class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ destionation }}</a>
            </p>
            <p class="mb-2">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Reisearten</span>
              <a *ngFor="let travel of agent.travelType" 
              href="#"
              class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ travel }}</a>
            </p>
            <p class="mb-2">
              <span class="fw-medium user-x-small-text text-color line-heigth-24 me-3">Matching</span>
              <span class="destination-label primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none">{{ agent.matching }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="agent-actions-container">
        <div class="agent-action-header mb-4 d-flex justify-content-between">
          <div class="agent-stars-rate d-flex">
            <i *ngFor="let n of counter(agent.stars) ;let k = index" class="bi bi-star-fill text-warning pe-2"></i>
            <i *ngFor="let n of counter(5- agent.stars) ;let k = index" class="bi bi-star-fill start-grey-color pe-2"></i>
          </div>
          <a class="text-color user-x-small-text line-heigth-24 ms-2 text-decoration-none" href="#"> {{ agent.review }} Bewertungen</a>
        </div>
        <div class="agent-availability mb-4">
          <p class="mb-0 fw-medium user-x-small-text text-color line-heigth-24 me-3">Verfügbarkeit</p>
          <p *ngFor="let time of agent.availability" class="mb-2 d-flex">
            <span class="user-x-small-text text-color line-heigth-24 me-3 days-label">{{ time.days }}</span>
            <span class="primary-color user-x-small-text line-heigth-24 me-2 text-decoration-none time-label">{{ time.time }}</span>
          </p>
        </div>
        <div class="agent-buttons">
          <button type="button" class="btn user-btn orange-gb text-white user-x-small-text fw-medium mb-2">Videoanruf vereinbaren</button>
          <button type="button" class="btn user-btn grey-btn grey-gb primary-color user-x-small-text fw-medium">Videoanruf vereinbaren</button>
        </div>
      </div>
    </div>
  </div>
</div>
