@import "../../../../styles/variables";

.article-weather-section {
  .weather-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: transparent transparent !important;
    scrollbar-width: none !important;
    &::-webkit-scrollbar {
      width: 0 !important; /* Remove scrollbar space */
      background: transparent !important; /* Optional: just make scrollbar invisible */
    }
    &::-webkit-scrollbar-thumb {
      width: 0 !important;
      background: transparent !important;
    }

    .weather-item {
      cursor: pointer;
      .weather-item-card {
        min-height: 5rem;
        .weather-rain-days {
          white-space: nowrap;
          img {
            width: 1rem;
            height: auto;
          }
        }
      }
      &:first-child {
        .weather-timeline {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: $stars-grey-color;
            width: 0.5rem;
            height: 0.5rem;
            transform: rotate(45deg);
            bottom: -2px;
            left: 0;
          }
        }
      }
      &:last-child {
        .weather-timeline {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            background: $stars-grey-color;
            width: 0.5rem;
            height: 0.5rem;
            transform: rotate(45deg);
            bottom: -2px;
            right: 0;
          }
        }
      }
      .weather-timeline {
        .months-timeline {
          border-bottom: 2px solid $stars-grey-color;
          padding-bottom: 0.825rem;
        }
      }
    }
    .weather-item.active {
      .weather-item-card {
        .weather-min-max {
          -ms-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          color: white !important;
          background: $orangeColor !important;
        }
        .weather-rain-days {
          -ms-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          background-color: $chipOrange !important;
          .rain-day-number {
            color: $orangeColor !important;
          }
          svg path {
            fill: $orangeColor !important;
          }
        }
      }
      .weather-timeline {
        .months-timeline {
          border-bottom-color: $orangeColor;
          border-bottom-width: 4px;
          margin-top: -1px;
        }
      }
    }
  }
}

/*------------------------Responsive Design ------------------*/

@media screen and (max-width: 767px) {
  .article-weather-section {
    .weather-wrapper {
      .weather-item {
        .weather-item-card {
          .weather-rain-days {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
