@import '../../../styles/variables.scss';

.why-use-container {
    margin-top: 8rem;
    padding-bottom: 8rem;
    h3{
       margin-top: 1.5rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .why-use-container {
      .why-use-img-wrapper {
        display: block;
        margin: auto;
      }
    }
  }