/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
@import '~swiper/swiper-bundle';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../src/styles/variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/*----------------- Global Style ---------------------------*/

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-Medium.ttf");
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
  font-display: swap
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-Black.ttf");
  font-weight: 900;
  font-display: swap
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, p, .p,  span, a{
  font-family: $font-family-Inter;
  font-size: 0.875 rem!important;
}

.primary-color {
  color: $primaryColor!important;
}
.grey-color {
  color: $secondaryColor!important;
}
.title-grey-color {
  color: $grey !important;
}
.text-color {
  color: $textColor!important;
}
.text-black {
  color: black !important;
}
.blue-color {
  color: $primaryChip!important;
}
.dark-grey-color {
  color: $darkGreyColor!important;
}
.dark-grey-color2 {
  color: $darkGreyColor2!important;
}
.grey-meduim-color {
  color: $greyMediumColor!important;
}
.orange-color {
  color: $orangeColor!important;
}
.title-color {
  color: $titleColor!important;
}
.text-dark {
  color: black!important;
}
.grey-dark {
  color: $greyDarkColor!important;
}
.start-grey-color {
  color: $stars-grey-color;
}

.primary-bg {
  background-color: $primaryColor!important;
}

.blue-chip-bg {
  background-color: $stars-grey-color!important;
}

.grey-gb {
  background-color: $stars-grey-color!important;
}
.leight-grey-gb {
  background-color: $greyBgLight!important;
}

.orange-gb {
  background-color: $orangeColor!important;
}

.grey-cancel {
  width: auto!important;
  height: 40px !important;
  transition: 0.25s;
  padding: 8px 24px;
  margin-right: 7px;
  background-color: $bgGreyColor!important;
  color:$secondaryColor!important;
  &:hover {
    background-color: $greyHoverColor!important;
  }
  &:focus {
    box-shadow: none!important;
  }
}

.desc-paragraph {
  display: inline;
}

.bg-light-grey {
  background-color: $bgLightGrey!important;
}
.online {
  background-color: $userOnline!important;
}

.orange-chip-gb {
  background-color: $chipOrange!important;
}

.away {
  background-color: $userAway!important;
}
.offline {
  background-color: $stars-grey-color!important;
}
.user-x-small-text {
  font-size: 0.875rem!important;
}
.user-xx-small-text {
  font-size: 0.75rem!important;
}
.user-small-text {
  font-size: 1rem!important;
}
.user-big-text {
  font-size: 2.5rem!important;
}
.user-xbig-text {
  font-size: 3.375rem!important;
}
.big-title-size {
  font-size: 2rem!important;
}
.user-meduim-text {
  font-size: 1.5rem!important;
}

.paragraphe-fs {
  font-size: 1.125rem;
}

.sub-title-size {
  font-size: 1.25rem;
}

.section-padding {
  padding: 1.5rem
}
.title-padding {
  padding: 2.5rem 0;
}

.paragraph-pb {
  padding-bottom: 2.5rem;
}

.spacing-1 {
  letter-spacing: .5px !important;
}

.title-pb {
  padding-bottom: 5rem!important;
}

.subtitle-pb {
  padding-bottom: 1.5rem!important;
}


.title-pb-2 {
  padding-bottom: 3.75rem!important;
}

.section-bp {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-pt-medium {
  padding-top: 5rem;
}

.section-mt-medium {
  margin-top: 5rem;
}


.padding-x {
  padding-left: 5rem;
  padding-right: 5rem;
}
.br-8 {
  border-radius: 0.5rem;
}

.br-4 {
  border-radius: 0.25rem;
}

.hoverable {
  cursor: pointer;
  &:hover {
    color: $orangeHoverColor!important;
  }
}


.full-height {
  height: 100%;
}
.light-heigth-big {
  // 28px
  line-height: 1.75rem;
}
.light-heigth-xbig {
  line-height: 3.75rem;
}
.light-heigth-medium {
  line-height: 2rem;
}
.line-heigth-24 {
  line-height: 1.5rem;
}
.user-btn {
  width: auto!important;
  height: 40px !important;
  transition: 0.25s;
  padding: 8px 24px;
  &:hover {
    background-color: $orangeHoverColor!important;
    color: white!important;
  }
  &:focus {
    box-shadow: none!important;
  }
}
.fw-medium {
  font-weight: 600!important;
}
.fw-medium-1 {
  font-weight: 500!important;
}
.fw-extra-bold {
  font-weight: 800!important;
}
.fw-black {
  font-weight: 900!important;
}
.link-td {
  text-decoration: none!important;
}
.border-bottom {
  border-color: #F1F1F1!important;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.destination-container, .travel-type-container {
  .owl-carousel {
    .owl-item {
      span.destination-img-title.ng-star-inserted {
        position: absolute;
        bottom: 24px;
        left: 24px;
      }
      padding: 0 12px!important;
      img {
        border-radius: 8px!important;
        height: auto!important;
      }
    }
  }
  .owl-nav {
    position: absolute;
    display: block!important;
    top:-160px;
    right: 0;
    [class*=owl-] {
      background-color: $orangeColor!important;
      margin: 4px !important;
      border-radius: 4px !important;
      width: 40px;
      height: 40px;
      padding-top: 7px;
      font-size: 18px;
    }
  }
}

.testimonials-container {
  .owl-carousel {
    .owl-stage {
      display: flex !important;
      .owl-item {
        -webkit-box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        -moz-box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        span.destination-img-title.ng-star-inserted {
          position: absolute;
          bottom: 24px;
          left: 24px;
        }
        margin: 20px 20px;
        border-radius: 8px;
      }
    }
  }
  .owl-nav {
    display: block!important;
    position: absolute;
    top:-160px;
    right: 0;
    [class*=owl-] {
      background-color: $orangeColor!important;
      margin: 4px !important;
      border-radius: 4px !important;
      width: 40px;
      height: 40px;
      padding-top: 7px;
      font-size: 18px;
    }
  }
  .testimonial-item {
    .testimonial-header {
      .user-avatar {
        width: 3.75rem!important;
        height: 3.75rem!important;
        border-radius: 50%;
      }
      .stars-rate {
        padding-right: 48px;
      }
    }
  }
}
.travel-modes-container {
  .owl-carousel .owl-stage .owl-item {
    box-shadow: none!important;
  }
  .owl-nav {
    top: -110px!important;
  }
}

.testimonials-container {
  .article-travel-modes-container {
    .encart-wrapper {
      max-height: 380px;
      height: 380px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .item-image-container {
        min-height: 380px;
        height: 380px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* transition for the image to zoom in smoothly: */
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
      .article-image-title {
        width: 100%;
        min-height: 80px;
        height: 80px;
        background: linear-gradient(
          181.37deg,
          rgba(0, 0, 0, 0) -12.31%,
          rgba(0, 0, 0, 0.92) 83.21%
        );
        -ms-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: absolute;
        bottom: 0;
      }
      &:hover {
        .item-image-container {
          -ms-transform: scale(1.1, 1.1);
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
        }
        .article-image-title {
          min-height: 120px!important;
          height: 120px!important;
        }
      }
    }
  }

}

.article-agent-container {
  .owl-carousel {
    .owl-stage {
      .owl-item {
        box-shadow: none!important;
        margin: 70px 20px 20px 20px!important;
        border-radius: 8px!important;
        background: $bgLightGrey!important;
      }
    }
  }
  .owl-nav {
    top:-120px!important;
  }
  .testimonial-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    .testimonial-header {
      margin-top: -6rem!important;
      .user-avatar {
        width: 8.125rem !important;
        height: 8.125rem !important;
        border: 4px solid white!important;
        margin-right: 0.5rem!important;
      }
    }
    .testimonial-footer {
      margin-top: auto;
    }
  }
}

.swipe-wrapper {
  position: relative;
}

.swiper-wrapper {
  height: 500px!important;
}

.testimonial-swiper {
  .swiper-wrapper {
    height: 1000px!important;
    .swiper-slide {
      display: flex!important;
      .testimonial-item {
        box-shadow: -1px 4px 26px -4px #e0e0e0;
        margin: 20px 20px;
        border-radius: 8px;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    top: -85px!important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  position: initial!important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 24px;
}

.swiper-button-prev, .swiper-button-next {
  top: -100px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: auto;
  left: 57px;
}

.swiper-button-prev, .swiper-button-next {
  width: 40px!important;
  height: 40px !important;
  transition: 0.25s;
  background-color: $orangeColor!important;
  border-radius: 4px;
  &:after {
    color: white!important;
    font-size: 20px!important;
  }
  &:hover {
    background-color: $orangeHoverColor!important;
    color: white!important;
  }
  &:focus {
    box-shadow: none!important;
    background-color: $orangeFocusColor!important;
  }

}
.header-container {
  .header-tabs {
    .nav-tabs {
      border-bottom: 1px solid white!important;
    }
  }
}

.custom-ng-select {
  .ng-select-container {
    .ng-value-container {
      padding-left: .6rem!important;
      padding-top: 0!important;
    }
    &:before{
      font-family: bootstrap-icons !important;
      content: "ï”ª";
      margin-left: .6rem;
      color: #797979 !important;
    }
  }
}

/*------------------------Responsive Design ------------------*/

@media screen and (max-width: 991px) {
  .article-page-wrapper {
    .user-big-text  {
     font-size: 2rem!important;
    }
   }
   .article-mobile-dsiplay {
    overflow-x: scroll;
    scrollbar-color: transparent transparent !important;
    scrollbar-width: none!important;
    &::-webkit-scrollbar {
      width: 0!important;
      background: transparent!important;
    }
    &::-webkit-scrollbar-thumb {
      width: 0!important;
      background: transparent!important;
    }
    .col-lg {
      flex: 0 0 60%!important;
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-opened {
    overflow-y: hidden!important;
  }
  .user-big-text-mobile {
    font-size: 2rem!important;
    line-height: 40px!important;
  }
  .carousel-mb {
    margin-bottom: 3.75rem;
  }
  .owl-nav {
    top:-110px!important;
    left: 0!important;
    right: inherit!important;
  }
  .section-bp {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .mobile-title-space {
    margin-top: 32px!important;
  }
  .title-size {
    font-size: 2rem!important;
  }
  .small-title-size {
    font-size: 1rem!important;
  }
  .line-heigth-40 {
    line-height: 2.5rem!important;
  }
  .user-meduim-text-mobile {
    font-size: 1.25rem!important
  }
  .title-padding-mobile {
    padding: 1.5rem 0!important;
  }
  .article-page-wrapper {
   .user-big-text  {
    font-size: 1.25rem!important;
   }
   .small-title-size {
    font-size: 0.875rem!important;
   }

  }
  .article-agent-container, .article-travel-modes-container {
    .owl-carousel {
      .owl-nav {
        display: none!important
      }
    }
    .article-image-title {
      font-size: 1rem!important;
    }
  }
  .article-mobile-dsiplay {
    .col-md {
      flex: 0 0 90%!important;
    }
    .col-lg {
      flex: 0 0 90%!important;
    }
  }

  .article-agent-container {
    .testimonial-item {
      .testimonial-header {
        margin-top: 0rem!important;
        .article-agent-avatar {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          display: inline-block;
          top: -4rem;
          .user-avatar {
            margin: auto!important;
            position: absolute;
            left: 37%;
            margin: auto;
            display: inline-block;
            top: -4rem;
          }
        }
        .nuser-name-stars {
          margin-top:3rem!important
        }
      }
    }
  }
  
}

 /*-------------------Calendar ------------------------*/
 .mat-calendar-header {
  padding: 0!important;
  .mat-calendar-controls {
    padding: 0 0.75rem;
    .mat-calendar-period-button {
      padding: 0!important ;
    }
  }
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: rgb(236 245 255);
}

.mat-calendar-table-header tr th abbr {
  text-decoration: none!important;
  font-size: 14px;
  color: #A5B2BC;
  line-height: 24px;
}

.mat-calendar-table-header-divider {
  &:after {
    height: 0 !important;
  }
}

.datepicker-container input {
  height: 32px!important;
  border-radius: .25rem!important;
  margin-bottom: 0px;
  &::placeholder {
    color: $secondaryColor;
    font-size: 14px;
  }
}

@media screen and (max-width: 436px) {
  .testimonial-swiper {
    .swiper-wrapper {
      .swiper-slide {
        .testimonial-item {
          box-shadow: -1px 4px 16px -4px #e0e0e0!important;
          margin: 20px 10px!important;
          padding: 6px!important;
      }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .modal-dialog {
  max-width : 700px!important;
  }
}

.cdk-visually-hidden
{
    visibility: none;
}

.cdk-overlay-container{
  z-index: 2000;
}

.highlight-dates{
  //background-color: #9ddca0 !important;
  border-radius: 50%;
}

.highlight-dates .mat-calendar-body-cell-content.mat-focus-indicator{
  color: #2fb633 !important;
}

.mat-calendar-body-selected {
  background-color: #ecf5ff;
  color: #205bd8!important;
  font-weight: bold!important;
}

.mat-calendar-body-cell-content.mat-focus-indicator{
  color: #a5b2bc;
}

@media screen and ( max-width: 1400px ) and ( min-width: 1200px ) {
    .article-agent-container {
      .testimonial-item {
        .testimonial-footer {
          button {
            width: 100%!important;
          }
          .user-btn.orange-gb {
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }

