/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
@import '~swiper/swiper-bundle';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../src/styles/variables';

/*----------------- Global Style ---------------------------*/

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: $font-family-Inter;
  src:url("assets/font/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, p, .p,  span, a{
  font-family: $font-family-Inter;
  font-size: 0.875 rem!important;
}

.primary-color {
  color: $primaryColor!important;
}
.grey-color {
  color: $secondaryColor!important;
}
.text-color {
  color: $textColor!important;
}
.text-black {
  color: black !important;
}
.blue-color {
  color: $primaryChip!important;
}
.dark-grey-color {
  color: $darkGreyColor!important;
}
.dark-grey-color2 {
  color: $darkGreyColor2!important;
}
.grey-meduim-color {
  color: $greyMediumColor!important;
}
.orange-color {
  color: $orangeColor!important;
}
.title-color {
  color: $titleColor!important;
}
.text-dark {
  color: black!important;
}
.grey-dark {
  color: $greyDarkColor!important;
}
.start-grey-color {
  color: $stars-grey-color;
}
.orange-gb {
  background-color: $orangeColor!important;
}
.grey-gb {
  background-color: $stars-grey-color!important;
}
.bg-light-grey {
  background-color: $bgLightGrey!important;
}
.online {
  background-color: $userOnline!important;
}
.away {
  background-color: $userAway!important;
}
.offline {
  background-color: $stars-grey-color!important;
}
.user-x-small-text {
  font-size: 0.875rem!important;
}
.user-small-text {
  font-size: 1rem!important;
}
.user-big-text {
  font-size: 2.5rem!important;
}
.user-xbig-text {
  font-size: 3.375rem!important;
}
.user-meduim-text {
  font-size: 1.5rem!important;
}
.paragraphe-fs {
  font-size: 1.125rem;
}
.title-padding {
  padding: 2.5rem 0;
}
.spacing-1 {
  letter-spacing: .5px !important;
}

.title-pb {
  padding-bottom: 5rem!important;
}

.title-pb-2 {
  padding-bottom: 3.75rem!important;
}

.section-bp {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.padding-x {
  padding-left: 5rem;
  padding-right: 5rem;
}
.br-8 {
  border-radius: 8px;
}

.full-height {
  height: 100%;
}
.light-heigth-big {
  line-height: 28px;
}
.light-heigth-xbig {
  line-height: 60px;
}
.line-heigth-24 {
  line-height: 1.5rem;
}
.user-btn {
  width: auto!important;
  height: 40px !important;
  transition: 0.25s;
  padding: 8px 24px;
  &:hover {
    background-color: $orangeHoverColor!important;
    color: white!important;
  }
  &:focus {
    box-shadow: none!important;
  }
}
.fw-medium {
  font-weight: 600!important;
}
.fw-extra-bold {
  font-weight: 800!important;
}
.link-td {
  text-decoration: none!important;
}
.border-bottom {
  border-color: #F1F1F1!important;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.destination-container, .travel-type-container {
  .owl-carousel {
    .owl-item {
      span.destination-img-title.ng-star-inserted {
        position: absolute;
        bottom: 24px;
        left: 24px;
      }
      padding: 0 12px!important;
      img {
      border-radius: 8px!important;
      }
    }
  }
  .owl-nav {
    position: absolute;
    display: block!important;
    top:-160px;
    right: 0;
    [class*=owl-] {
      background-color: $orangeColor!important;
      margin: 4px !important;
      border-radius: 4px !important;
      width: 40px;
      height: 40px;
      padding-top: 7px;
      font-size: 18px;
    }
  }
}

.testimonials-container {
  .owl-carousel {
    .owl-stage {
      display: flex !important;
      .owl-item {
        -webkit-box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        -moz-box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        box-shadow: -1px 4px 26px -4px rgba(224,224,224,1);
        span.destination-img-title.ng-star-inserted {
          position: absolute;
          bottom: 24px;
          left: 24px;
        }
        margin: 20px 20px;
        border-radius: 8px;
      }
    }

  }
  .owl-nav {
    display: block!important;
    position: absolute;
    top:-160px;
    right: 0;
    [class*=owl-] {
      background-color: $orangeColor!important;
      margin: 4px !important;
      border-radius: 4px !important;
      width: 40px;
      height: 40px;
      padding-top: 7px;
      font-size: 18px;
    }
  }
  .testimonial-item {
    .testimonial-header {
      .user-avatar {
        width: 3.75rem!important;
        height: 3.75rem!important;
        border-radius: 50%;
      }
      .stars-rate {
        padding-right: 48px;
      }
    }
  }
}

.swipe-wrapper {
  position: relative;
}

.swiper-wrapper {
  height: 500px!important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  position: initial!important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 24px;
}

.swiper-button-prev, .swiper-button-next {
  top: -100px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: auto;
  left: 57px;
}

.swiper-button-prev, .swiper-button-next {
  width: 40px!important;
  height: 40px !important;
  transition: 0.25s;
  background-color: $orangeColor!important;
  border-radius: 4px;
  &:after {
    color: white!important;
    font-size: 20px!important;
  }
  &:hover {
    background-color: $orangeHoverColor!important;
    color: white!important;
  }
  &:focus {
    box-shadow: none!important;
    background-color: $orangeFocusColor!important;
  }

}
.header-container {
  .header-tabs {
    .nav-tabs {
      border-bottom: 1px solid white!important;
    }
  }
}

/*------------------------Responsive Design ------------------*/

@media screen and (max-width: 767px) {
  .user-big-text-mobile {
    font-size: 2rem!important;
    line-height: 40px!important;
  }
  .carousel-mb {
    margin-bottom: 3.75rem;
  }
  .owl-nav {
    top:-110px!important;
    left: 0!important;
    right: inherit!important;
  }
  .section-bp {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .mobile-title-space {
    margin-top: 32px!important;
  }
  .title-size {
    font-size: 2rem!important;
  }
  .small-title-size {
    font-size: 1rem!important;
  }
  .line-heigth-40 {
    line-height: 2.5rem!important;
  }
}

