
<header class="article-header-container">
    <div class="container-lg article-container-wrapper">
        <div class="article-ancart-container d-flex py-3 bg-white">
            <div class="ancart-item col">
                <div class="encart-item-wrapper d-flex align-items-center">
                    <div class="encart-icon">
                        <img src="assets/images/icon-1.svg" loading="lazy"/>
                    </div>
                    <div class="encart-text">
                        <h4 class="encart-title primary-color fw-bold">
                            Top Reisespezialisten
                        </h4>
                        <p class="encart-text-content mb-0 grey-color ">
                            Beratung durch handverlesene Experten
                        </p>
                    </div>
                </div>
            </div>
            <div class="ancart-item col">
                <div class="encart-item-wrapper d-flex align-items-center">
                    <div class="encart-icon">
                        <img src="assets/images/icon-2.svg" loading="lazy"/>
                    </div>
                    <div class="encart-text">
                        <h4 class="encart-title primary-color fw-bold">
                            Individuelle Planung
                        </h4>
                        <p class="encart-text-content mb-0 grey-color ">
                            Urlaub genau nach Ihren Wünschen
                        </p>
                    </div>
                </div>
            </div>
            <div class="ancart-item col">
                <div class="encart-item-wrapper d-flex align-items-center">
                    <div class="encart-icon">
                        <img src="assets/images/icon-3.svg" loading="lazy"/>
                    </div>
                    <div class="encart-text">
                        <h4 class="encart-title primary-color fw-bold">
                            Top Reisespezialisten
                        </h4>
                        <p class="encart-text-content mb-0 grey-color ">
                            Kostenfreie Beratung und Angebotserstellung
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>