<header *ngIf="data&&data.tripedeo_avantages" class="article-header-container" [ngStyle]="{
    'background-image': data.cover_image
      ? 'url(' + BASE_STRAPI_API_URL + data.cover_image.url + ')'
      : 'url(' + '../../../../assets/images/article-header.webp' + ')'
  }">
  <div class="container-lg article-container-wrapper">
    <div class="welcome-block-container">
      <h1 class="welcome-title text-white fw-bold">
        {{ data.Title }}
      </h1>
      <p class="welcome-text mb-0 text-white fw-medium-1">
        Hier den passenden Reisespezialisten finden.
      </p>
      <button type="button" class="
          btn
          user-btn
          orange-gb
          text-white
          user-x-small-text
          fw-medium
          px-5
          mt-4
        ">
        Reiseberaterfinden
      </button>
    </div>
    <div class="article-ancart-container d-flex py-4 bg-white">
      <div class="ancart-item item-border pe-md-4 pe-2 col-md-4">
          <div class="encart-item-wrapper d-flex align-items-center">
              <div class="encart-icon">
                  <img src="assets/images/icon-1.svg" loading="lazy"/>
              </div>
              <div class="encart-text">
                  <h4 class="encart-title primary-color fw-bold">
                      Top Reisespezialisten
                  </h4>
                  <p class="encart-text-content mb-0 grey-color paragraphe-fs">
                      Beratung durch handverlesene Experten
                  </p>
              </div>
          </div>
      </div>
      <div class="ancart-item item-border px-md-4 px-0 col-md-4">
          <div class="encart-item-wrapper d-flex align-items-center">
              <div class="encart-icon">
                  <img src="assets/images/icon-2.svg" loading="lazy"/>
              </div>
              <div class="encart-text">
                  <h4 class="encart-title primary-color fw-bold">
                      Individuelle Planung
                  </h4>
                  <p class="encart-text-content mb-0 grey-color paragraphe-fs">
                      Urlaub genau nach Ihren Wünschen
                  </p>
              </div>
          </div>
      </div>
      <div class="ancart-item ps-md-4 px-2 col-md-4">
          <div class="encart-item-wrapper d-flex align-items-center">
              <div class="encart-icon">
                  <img src="assets/images/free.svg" loading="lazy"/>
              </div>
              <div class="encart-text">
                  <h4 class="encart-title primary-color fw-bold">
                      100 % kostenfrei
                  </h4>
                  <p class="encart-text-content mb-0 grey-color paragraphe-fs">
                      Kostenfreie Beratung und Angebotserstellung
                  </p>
              </div>
          </div>
      </div>
  </div>
  </div>
</header>
